.activity
	padding: 8px 10px
	background: silver-dark
	margin: 4px -10px -5px !important
	border-top: 2px solid darken(silver-dark, 5)
	border-bottom: 3px solid darken(silver-dark, 5)
	border-radius: 0 0 main-border-radius main-border-radius
	.main // Main Activity Text Styling
		font-weight: bold
	.actor // Avatar of person that caused the notification
		margin-right: 3px
	.source-wrap // Used to display info on the right side of the message
		float: right
		span
			color: gainsboro-dark

	/* GITHUB SPECIFIC */		

	&.push, // advanced styling for connected pushes
	&.pull_request,
	&.gollum
		ul
			border-left: 2px dotted gainsboro-light
			margin-left: 8px
			li
				padding-left: 13px
				position: relative
				padding-top: 1px
				&:after
					content: ""
					position: absolute
					left: 0px
					top: 10px
					height: 1px
					width: 10px
					border-top: 2px dotted gainsboro-light
	.comment
		padding: 0 10px
		margin: 4px -10px
		overflow: hidden
		position: relative
		&:before
			content: ""
			position: absolute
			left: 17px
			top: 19px
			width: 1px
			bottom: 1px
			border-left: 2px dotted gainsboro-light
		&:after
			float: left
			font-family: FontAwesome
			color: gainsboro-dark
			content: "\f10d"
			margin-right: 8px
			margin-left: 2px
/*	

	&.github
		.pull-request
		.comment
		.page
		.issue
			padding: 8px 0px
			color: gainsboro-dark
			&:before
				float: left
				font-style: normal
				display: inline
				margin-left: 3px
				font-family: FontAwesome
				color: gainsboro-light
				content: "\f09b"
			.content
				padding: 0 4px
				font-style: italic
				position: relative
				max-height: 6.39em /* exactly five lines 
				overflow: hidden
				&:after
					content: ""
					text-align: right
					position: absolute
					bottom: 0
					right: 0
					width: 25%
					height: 1.2em
					background: linear-gradient(to right, rgba(lighten(silver-dark, 10%), 0.5), rgba(lighten(silver-dark, 10%), 1) 50%)
			a
				padding: 0 4px
				font-weight: bold
				text-decoration: none
				display: inline
		.comment
			border-radius: main-border-radius
			background: lighten(silver-dark, 10%)
			&:before
				content: "\f075"
		.page
			&:before
				content: "\f15b"
	// UNUSED FUNCTION TO DISPLAY OPTIONS
	ul.activity-options
		margin-top: 7px
		@extend $clearfix
		text-transform: uppercase
		@extend $small-font-size
		font-weight: bold
		@extend $horizontal-list
		li
			a
				color: grape-light
				@extend $subtle-link
			i
				margin-right: 4px
		.option
			margin-right: 22px
*/