.service.message-group
	.avatar
		margin-left: 14px
		.image
			width: 28px
			height: 28px
	.message-inner-wrap
		width: 100%
.activity.message
	margin: 1px -10px 3px !important
	&.first
		padding-top: 2px !important
	.messageinfo
		@extend $big-font-size
	.message-inner-wrap
		padding: 0 16px 0 5px
		display: block 
		min-width: 390px
	.main // Main Activity Text Styling
		font-weight: bold
	.actor // Avatar of person that caused the notification
		margin-right: 3px
		margin-top: 1px
		float: left
	.source-wrap // Used to display info on the right side of the message
		float: right
		padding: 0 5px
		border-bottom: 2px solid gainsboro-dark
		color: gainsboro-dark
		margin-left: 5px
		max-width: 190px
		@extend $ellipsis
		display: block
		a
			color: gainsboro-dark
		@media (max-width: 800px)
			max-width: 70px

		// a
		// 	color: grape-light
		// 	&:hover
		// 		color: lighten(grape-light, 10)
		span
			color: gainsboro-dark 
	.short-list
		clear: both
	/* GITHUB and BITBUCKET SPECIFIC */

	&.commits,
	&.push, // advanced styling for connected pushes
	&.pull_request,
	&.create,
	&.gollum
		ul
			border-left: 2px dotted gainsboro-light
			margin-left: 8px
			> li
				padding-left: 13px
				position: relative
				padding-top: 1px
				&:after
					content: ""
					position: absolute
					left: 0px
					top: 10px
					height: 1px
					width: 10px
					border-top: 2px dotted gainsboro-light
			.show-more
				display: none
			.show-less
				display: block
				z-index: 12
				padding-left: 13px
				margin-top: 7px
			&.list-previewed
				max-height: 99px
				position: relative
				overflow: hidden
				&:after
					content: ""
					position: absolute
					bottom: 0
					left: 0
					right: 0
					height: 70px
					background: linear-gradient(to bottom, rgba(chat-background,0) 0%, rgba(chat-background,1) 70%);
					z-index: 10
				.show-more
					display: block
					z-index: 12
					position: absolute
					bottom: 0
					left: 0
					right: 0
					padding-left: 13px
				.show-less
					display: none

	.comment,
	&.commentCard .short-list 
		> li
			padding: 0 10px
			margin: 4px -10px
			overflow: hidden
			position: relative
			img
				max-height: 170px
			&:before
				float: left
				font-family: FontAwesome
				color: gainsboro-dark
				content: "\f10d"
				margin-right: 5px
				margin-left: 5px

	.comment .text ol
		padding-left: 22px
		li
			list-style-type: decimal

	/* TRELLO SPECIFIC */
	//Removing unnecessary elements
	&.issue_comment,
	&.__label_changed,
	&.__asignment_changed,
	&.issues
		li.issue,
		li.user,
		li.label
			display: none
	&.gollum
		ul
			li:only-child
				display: none
	&.deleteAttachmentFromCard
		.short-list
			display: none
	.times
		margin-left: 5px
		padding: 0 5px
		border-radius: 4px
		color: gold
		float: right
		border: 2px solid gold
/*

	&.github
		.pull-request
		.comment
		.page
		.issue
			padding: 8px 0px
			color: gainsboro-dark
			&:before
				float: left
				font-style: normal
				display: inline
				margin-left: 3px
				font-family: FontAwesome
				color: gainsboro-light
				content: "\f09b"
			.content
				padding: 0 4px
				font-style: italic
				position: relative
				max-height: 6.39em /* exactly five lines
				overflow: hidden
				&:after
					content: ""
					text-align: right
					position: absolute
					bottom: 0
					right: 0
					width: 25%
					height: 1.2em
					background: linear-gradient(to right, rgba(lighten(silver-dark, 10%), 0.5), rgba(lighten(silver-dark, 10%), 1) 50%)
			a
				padding: 0 4px
				font-weight: bold
				text-decoration: none
				display: inline
		.comment
			border-radius: main-border-radius
			background: lighten(silver-dark, 10%)
			&:before
				content: "\f075"
		.page
			&:before
				content: "\f15b"
	// UNUSED FUNCTION TO DISPLAY OPTIONS
	ul.activity-options
		margin-top: 7px
		@extend $clearfix
		text-transform: uppercase
		@extend $small-font-size
		font-weight: bold
		@extend $horizontal-list
		li
			a
				color: grape-light
				@extend $subtle-link
			i
				margin-right: 4px
		.option
			margin-right: 22px
*/