.service.message-group
	@extend $clearfix
	margin-top: 20px !important
	margin-bottom: 24px !important
	a
		color: #3bafda !important
	.avatar
		margin-left: 14px
		margin-top: 3px
		.image
			width: 28px
			height: 28px
	.message-inner-wrap
		width: 100%
		display: inline-block
	.message-content
		display: inline-block
		margin-left: 0px
		position: relative
		top: -4px
	.vertical-line
		display: block
		position: absolute;
		width: 5px
		top: -1px
		bottom: 4px
		left: 52px
		background: #C3C3C3
		border-radius: 4px 0px 0px 4px
		z-index: 50
.activity.message
	@extend $clearfix
	border-radius: 0px 6px 6px 0px
	margin-top: 3px
	display: block
	.message-inner-wrap
		padding: 0 16px 0 5px
		display: inline-block
		min-width: 390px
	.actor // Avatar of person that caused the notification
		margin-right: 4px
		margin-top: 0px
		float: left
		border: solid 1px #CCCCCC
		border-radius: 50%
	.message-author
		margin-left: 2px
		color: #666666
		cursor: default
		font-size: 0.9em
	a.timelink
		color: #666666 !important
		&:hover
			color: #999999 !important
	.text.main
		margin-left: 2px
		max-width: 740px
		&.add-margin
			margin-top: 12px
	.source-wrap // Used to display info on the right side of the message
		@extend $ellipsis
		float: right
		background-color: #FBFBFB
		border: solid 1px #E5E5E5
		border-radius: 3px
		font-size: 0.9em
		padding: 0px 8px 0px 8px
		color: #666666 !important
		margin-top: -3px
		margin-right: -11px
		max-width: 190px
		display: block
		a
			color: #666666 !important
		@media (max-width: 800px)
			max-width: 70px

		// a
		// 	color: grape-light
		// 	&:hover
		// 		color: lighten(grape-light, 10)
		span
			color: #666666
	.short-list
		clear: both
		left: 2px
		padding-bottom: 3px
		position: relative
	/* GITHUB and BITBUCKET SPECIFIC */

	&.commits,
	&.push, // advanced styling for connected pushes
	&.pull_request,
	&.create,
	&.gollum
		ul
			border-left: 2px dotted gainsboro-light
			margin-left: 8px
			> li
				padding-left: 13px
				position: relative
				padding-top: 1px
				&:after
					content: ""
					position: absolute
					left: 0px
					top: 10px
					height: 1px
					width: 10px
					border-top: 2px dotted gainsboro-light
			.show-more
				display: none
			.show-less
				display: block
				z-index: 12
				padding-left: 13px
				margin-top: 7px
			&.list-previewed
				max-height: 99px
				position: relative
				overflow: hidden
				&:after
					content: ""
					position: absolute
					bottom: 0
					left: 0
					right: 0
					height: 70px
					background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
					z-index: 10
				.show-more
					display: block
					z-index: 12
					position: absolute
					bottom: 0
					left: 0
					right: 0
					padding-left: 13px
				.show-less
					display: none

	.comment,
	&.commentCard .short-list
		> li
			padding: 0 10px
			margin: 4px -10px
			overflow: hidden
			position: relative
			img
				max-height: 170px
			&:before
				float: left
				font-family: FontAwesome
				color: gainsboro-dark
				content: "\f10d"
				margin-right: 5px
				margin-left: 5px

	.comment .text ol
		padding-left: 22px
		li
			list-style-type: decimal

	/* TRELLO SPECIFIC */
	//Removing unnecessary elements
	&.issue_comment,
	&.__label_changed,
	&.__asignment_changed,
	&.issues
		li.issue,
		li.user,
		li.label
			display: none
	&.gollum
		ul
			li:only-child
				display: none
	&.deleteAttachmentFromCard
		.short-list
			display: none
	.times
		margin-left: 5px
		padding: 0 5px
		border-radius: 4px
		color: gold
		float: right
		border: 2px solid gold
/*

	&.github
		.pull-request
		.comment
		.page
		.issue
			padding: 8px 0px
			color: gainsboro-dark
			&:before
				float: left
				font-style: normal
				display: inline
				margin-left: 3px
				font-family: FontAwesome
				color: gainsboro-light
				content: "\f09b"
			.content
				padding: 0 4px
				font-style: italic
				position: relative
				max-height: 6.39em /* exactly five lines
				overflow: hidden
				&:after
					content: ""
					text-align: right
					position: absolute
					bottom: 0
					right: 0
					width: 25%
					height: 1.2em
					background: linear-gradient(to right, rgba(lighten(silver-dark, 10%), 0.5), rgba(lighten(silver-dark, 10%), 1) 50%)
			a
				padding: 0 4px
				font-weight: bold
				text-decoration: none
				display: inline
		.comment
			border-radius: main-border-radius
			background: lighten(silver-dark, 10%)
			&:before
				content: "\f075"
		.page
			&:before
				content: "\f15b"
	// UNUSED FUNCTION TO DISPLAY OPTIONS
	ul.activity-options
		margin-top: 7px
		@extend $clearfix
		text-transform: uppercase
		@extend $small-font-size
		font-weight: bold
		@extend $horizontal-list
		li
			a
				color: grape-light
				@extend $subtle-link
			i
				margin-right: 4px
		.option
			margin-right: 22px

/*______ Brands ______*/
.vertical-line
	&.trello
		background: #3278A5 !important
	&.github
		background: #4B4B4B !important
	&.googledrive
		background: #0F965A !important
	&.gcal
		background: #4B7DE1 !important
	&.bitbucket
		background: #144678 !important
	&.jira
		background: #144678 !important
	&.dropbox
		background: #1982DC !important
	&.box
		background: #327DB9 !important
