// Wrap any text within the chat content and an optional dismiss button in .alert-inset and one of the four contextual classes (e.g., .alert-success) for basic alert messages.
.alert-inset
	padding: 3px 6px
	border: 1px solid transparent
	border-radius: main-border-radius

// Used as container for header alert messages.
ul.alerts
	position: absolute
	left: 0
	right: 0
	top: 0
	z-index: 100
	//animation: slideinout 4s ease-in-out
	li
		text-align: left
		background-color: lighten(alert-info-color, 90%)
		padding: 14px 30px 8px 20px
		border-bottom: 1px solid lighten(alert-info-color, 60%)
		opacity: 0.98
		@extend $normal-font-size
		font-weight: bold
		@extend $clearfix
		.button
			@extend $normal-font-size
			// margin-right: 22px
			font-weight: normal
			margin-top: -6px
			margin-bottom: -4px
			float: right
			&:hover
				background: rgba(white,.5)
@keyframes slideinout {
  0%, 100% {
    top:-30px
  }
  25%, 75% {
    top:0
  }
}

// Alert classes: Alerts don't have default classes, only base and modifier classes. A default gray alert doesn't make too much sense, so you're required to specify a type via contextual class. Choose from success, info, warning, or danger.
// Use the .alert-link utility class to quickly provide matching colored links within any alert.
.alerts li a
	color: inherit
	
.alerts li.info
	background-color: lighten(alert-info-color, 70%)
	border-color: lighten(alert-info-color, 60%)
	color: darken(alert-info-color, 30%)
	a:hover
		color: lighten(alert-info-color, 20%)
	.button
		color: color: darken(alert-info-color, 30%)
.alerts li.success
	background-color: lighten(alert-success-color, 90%)
	border-color: lighten(alert-success-color, 80%)
	color: alert-success-color
	a:hover
		color: lighten(alert-success-color, 20%)
	.button
		color: alert-success-color
.alerts li.warning
	background-color: lighten(alert-warning-color, 90%)
	border-color: lighten(alert-warning-color, 80%)
	color: alert-warning-color
	a:hover
		color: lighten(alert-warning-color, 20%)
	.button
		color: alert-warning-color
.alerts li.danger
	background-color: lighten(alert-danger-color, 90%)
	border-color: lighten(alert-danger-color, 80%)
	color: darken(alert-danger-color, 30%)
	a:hover
		color: lighten(alert-danger-color, 20%)
	.button
		color: darken(alert-danger-color, 30%)

