// ****
//
// classes used in the autocomplete dropdown within the input area
//
// ****

grape-input
	display: block
	position: relative


// ****
//
// classes used BOTH in the autocomplete dropdown within the input area AND within the message area AND chat content (after a user sent a message to the chat)
//
// ****

body
	.ac
		white-space: normal
		border-bottom: 1px solid link-color
		display: inline
		margin: 1px
		padding: 1px 0
		vertical-align: baseline
	a.ac:hover
		text-decoration: none
		border-color: link-color !important
	&:hover
		text-decoration: none
.entry-type-icon, .ac:before
	display: inline
	font-family: FontAwesome
	margin-right: 6px
	font-weight: normal
.type-label
	&:before
		content: "\f02b"
.type-githubissue
	&:before
		content: "\f09b"
.type-trellocard
	&:before
		content: "\f181"
.type-calendar,
.type-gcalevent
	&:before
		content: "\f073"
.type-googledrivefile
	&:before
		content: "\f15b"
.type-youtubevideo
	&:before
		content: "\f16a"
.ac.service-giphy
	&:before
		content: "\f1c5"
.type-dropboxfile
	&:before
		content: "\f16b"
.type-boxfile
    &:before
        content: "\f15b"
.type-chatgrapeuser
	&:before
		content: "\f007"
.type-chatgraperoom
	&:before
		content: "\f086"
.type-chatgrapeprivateroom
	&:before
		content: "\f023"
.type-query
	&:before
		content: "\f002"
.type-emojiemoji
	display: none

.message
	.type-chatgrapeuser
		&:before
			content: "@"
			font-family: "proxima-nova", Arial, Helvetica, Geneva, sans-serif!important
			margin-right: 0
			font-weight: bold
// ****
//
// classes used within the message input (but NOT inside the autocomplete dropdown)
//
// ****


grape-input
	.ac
		padding: 0 1px
		background: white
		border-radius: 0
		color: link-color
		height: 20px
		margin-top: -1px
		margin-bottom: -1px
		margin-right: 0
		margin-left: 0
		position: relative
		overflow: hidden
		vertical-align: bottom
		span
			float: left
			margin-right: 0
		&.emoji
			border: none
			padding: 0
			margin: 0
			height: 19px!important
			margin-top: -2px
	span.type-chatgraperoom,
	span.type-chatgrapeuser
		display: none
