// ****
//
// classes used in the autocomplete dropdown within the input area
//
// ****

.autocomplete-wrapper
	position: relative
	margin-left: 46px
	margin-right: 30px
	.autocomplete
		bottom: 0px
		width: 100%
		background: white
		padding: 0
		border: 1px solid gainsboro-light
		&.Textcomplete-hidden
			display: none
		.Textcomplete-headline
			background: silver-dark
			@extend $small-font-size
			padding: 4px 8px
			text-transform: uppercase
		.Textcomplete-option
			padding: 4px 10px
		.Textcomplete-highlighted
			background: grape-dark
			color: white
		.entry-additional-info
			color: gainsboro-dark
		.entry-type-description
			@extend $clearfix
			float: right
			text-transform: uppercase
			color: gainsboro-dark
			min-width: 200px
		.entry-type-icon
			&:after
				margin-left: 0

// ****
//
// classes used BOTH in the autocomplete dropdown within the input area AND within the message area AND chat content (after a user sent a message to the chat)
//
// ****

body 
	.ac
		white-space: nowrap
		border-bottom: 1px solid link-color
		// box-shadow: 0px 1px 2px 0px #ddd
		display: inline-block
		margin: 1px 
		padding: 1px 0
		vertical-align: baseline
		font-weight: bold
		// color: gainsboro-dark
	a.ac:hover
		color: lighten(link-color, 25%)
		text-decoration: none
		border-color: aqua-dark !important
	button.ac
		border: 1px solid aqua-dark
		padding: 1px 5px
		background: #fff
		border-radius: main-border-radius-small
		color: gainsboro-dark
		span
			float: left
			margin-right: 0
	&:hover
		text-decoration: none
.entry-type-icon, .ac:before
	display: inline
	font-family: FontAwesome
	margin-right: 3px
	font-weight: normal
.type-label
	&:before
		content: "\f02b"
.type-githubissue
	&:before
		content: "\f09b"
.type-calendar
	&:before
		content: "\f073"
.type-googledocs
	&:before
		content: "\f0d4"
.type-chatgrapeuser
	&:before
		content: "\f007"
.type-chatgraperoom
	&:before
		content: "\f086"