// ****
//
// classes used in the autocomplete dropdown within the input area
//
// ****

.autocomplete-wrapper
	position: relative
	margin-left: 46px
	margin-right: 30px
	.autocomplete
		bottom: 0px
		width: 100%
		background: white
		padding: 0
		border: 1px solid gainsboro-light
		border-radius: 5px
		background-clip: border-box
		overflow: hidden
		box-shadow: 0px 4px 10px -1px rgba(33,32,34,0.5)
		max-height: 422px
		.Textcomplete-menu
			div:first-of-type
				border-radius: 5px 5px 0 0
				.entry-type-description
					border-radius: 5px 0 0 0
			div:last-of-type
				border-radius: 0 0 5px 5px
				.entry-type-description
					border-radius: 0 0 0 5px
		.entry-type-description
			float: left
			text-transform: uppercase
			color: gainsboro-dark
			min-width: 100px
			text-align: right
			border-right: 1px solid silver-dark
			background: silver-light
			padding: 6px 6px
			@extend $small-font-size
			line-height: inherit
		.option-wrap
			overflow: hidden
			padding: 6px 10px
		&.Textcomplete-hidden
			display: none
		.Textcomplete-headline
			background: silver-dark
			@extend $small-font-size
			padding: 4px 8px
			text-transform: uppercase
		.Textcomplete-option
			padding: 0
			@extend $clearfix
			font-weight: bold
			color: darken(gainsboro-dark, 20%)
			em
				color: lighten(gainsboro-dark, 10%)
				@extend $small-font-size
		.entry-additional-info
			color: gainsboro-dark
		.entry-type-icon
			&:after
				margin-left: 0
		.Textcomplete-highlighted
			background: grape-light
			color: white
			em,
			.entry-additional-info
				color: lighten(grape-light, 30)
			.entry-type-description
				background: grape-dark
				border-color: darken(grape-dark, 5)
				color: lighten(grape-light, 15)

// ****
// FOR SMALL USER INVITE DROPDOWN
// ****

.invite-to-room
	.Textcomplete-option
		padding: 2px 3px !important



// ****
//
// classes used BOTH in the autocomplete dropdown within the input area AND within the message area AND chat content (after a user sent a message to the chat)
//
// ****

body
	.ac
		white-space: nowrap
		border-bottom: 1px solid aqua-light
		// box-shadow: 0px 1px 2px 0px #ddd
		display: inline-block
		margin: 1px
		padding: 1px 0
		vertical-align: baseline
		font-weight: bold
		// color: grape-light
	a.ac:hover
		text-decoration: none
		border-color: aqua-light !important
	button.ac
		border: 1px solid link-color
		padding: 1px 5px
		background: #fff
		border-radius: main-border-radius-small
		color: link-color
		span
			float: left
			margin-right: 0
		&.emoji
			border: none
			padding: 0
			margin: 0
	&:hover
		text-decoration: none
.entry-type-icon, .ac:before
	display: inline
	font-family: FontAwesome
	margin-right: 3px
	font-weight: normal
.type-label
	&:before
		content: "\f02b"
.type-githubissue
	&:before
		content: "\f09b"
.type-calendar
	&:before
		content: "\f073"
.type-googledocs
	&:before
		content: "\f0d4"
.type-chatgrapeuser
	&:before
		content: "\f007"
.type-chatgraperoom
	&:before
		content: "\f086"
.type-emojiemoji
	display: none
