
avatar-status-size = 9px

.avatar
	position: relative
	display: inline-block
.avatar-img-small
	width: 13px
	height: 13px
	border-radius: 13px
	overflow: hidden
.avatar-status
	position: absolute
	top: -2px
	right: -3px
	width: avatar-status-size
	height: avatar-status-size
	border-radius: 20px
	&.online
		background: #8cc152
	&.offline
		background: #e9573f

