avatar-status-size = 8px

.avatar
	position: relative
	display: inline-block
.avatar-img-small
	width: 12px
	height: 12px
	border-radius: 12px
	overflow: hidden
.avatar-status
	position: absolute
	top: -2px
	right: -3px
	width: avatar-status-size
	height: avatar-status-size
	border-radius: 20px

/*______ ROUND AVATAR ______*/
.avatar-wrap
	position: relative
	margin-top: -5px // needed for all things up until now
	img
		float: left
		border-radius: 50%
		z-index: 2
	.online, .offline
		position: absolute
		right: 0px
		top: 0px
		width: 8px
		height: 8px
		z-index: 12
		border-radius: 50%
	.online
		background: #8cc152
	.offline
		background: #e9573f
	div
		overflow: hidden
		margin-left: 4px
