
.chatline
	@extend .clearfix
	margin: 0 (horizontal-space * 2) (vertical-space * .75) (horizontal-space * 2)
	position: relative
	.user, .content
		padding: (vertical-space / 2) (horizontal-space / 2) (vertical-space / 2) 0
	.user
		@extend .user-info
		float: left
		width: 100px
		text-overflow: ellipsis;
		position: relative
		font-weight: bold
		img
			width: 22px
		&::after
			content: ""
			position: absolute
			right: 0
			top: (vertical-space / 2)
			border-right: 6px solid chatline-content-background
			border-top: 6px solid transparent
			border-bottom: 6px solid transparent
	.content
		overflow: hidden
		background: chatline-content-background
		border-radius: global-border-radius
		@extend .clearfix
		time
			float: right
			color: chatline-time-color
		.text
			padding: 0 (horizontal-space / 2)
	&.read + &:not(:last-child).unread
		padding-top: (vertical-space / 2);
		margin-top: - (vertical-space / 2) - 1;
		border-top: 1px solid red;
		&::before
			display: block;
			content: "new messages";
			position: absolute;
			right: 0px;
			top: -5px;
			font-size: 10px;
			line-height: 10px;
			text-transform: uppercase;
			color: red;
			background: chat_bg;
			padding: 0px 5px;


.readers
	position: relative;
	height: 5px;
	margin-top: -5px;
	margin-left: user_width;
	padding: 0px 5px;
	padding-top: 3px;
	cursor: pointer;
	font-size: 10px;
	span
		display: none;

	.reader
		height: 0px;
		width: 15px;
		margin-right: 5px;
		border-top: 2px solid;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		for color, i in colors
			&.colors-{i}
				border-color: color;
	&:hover
		background: white;
		border-radius: 3px;
		height: 12px;
		margin-bottom: -4px;
		padding-top: 0px;
		line-height: 10px;
		span
			display: inline;

		.reader
			overflow: visible;
			height: 1em;
			border: none;
			margin: 0;

