
.chatline
	@extend .clearfix
	margin: 0 (horizontal-space * 2) (vertical-space * .75) (horizontal-space * 2)
	position: relative
	.author, .content
		padding: (vertical-space / 2) (horizontal-space / 2) (vertical-space / 2) 0
	.author
		@extend .user-info
		float: left
		width: 100px
		text-overflow: ellipsis;
		position: relative
		font-weight: bold
		img
			width: 22px
		&::after
			content: ""
			position: absolute
			right: 0
			top: (vertical-space / 2)
			border-right: 6px solid chatline-content-background
			border-top: 6px solid transparent
			border-bottom: 6px solid transparent
	.content
		overflow: hidden
		background: chatline-content-background
		border-radius: global-border-radius
		@extend .clearfix
		time
			float: right
			color: chatline-time-color
		.text
			padding: 0 (horizontal-space / 2)

