.chatline
	@extend .clearfix
	margin: 0 30px 24px 30px
	position: relative
	font-size 15px
	line-height: 20px
	.author
		@extend .clearfix
		float: left
		position: relative
		font-weight: bold
		.image
			width: 48px
			float: left
			margin-right: (horizontal-space / 2)
			border-radius: 50%
		&::after
			content: ""
			position: absolute
			right: 0
			top: 14px
			border-right: 6px solid chatline-content-background
			border-top: 6px solid transparent
			border-bottom: 6px solid transparent
	.content
		@extend .clearfix
		padding: 10px 10px 10px 0
		margin-top: 3px
		overflow: hidden
		background: chatline-content-background
		border-radius: main-border-radius
		time
			@extend .clearfix
			font-size: 12px
			text-transform: uppercase
			float: right
			color: gainsboro-dark
		.text
			padding: 0 (horizontal-space / 2)

