#dialog, .dialog
	background: none
	border: none
	top: 72px
	bottom: 72px
	pointer-events: none
.dialog .content
	background: white
	padding: 15px
	border-radius: main-border-radius
	border: 1px solid gainsboro-light
	opacity: 1
	box-shadow: 0px 4px 10px -1px rgba(jet, 0.5)
	transition: opacity 500ms
	width: 600px;
	max-height: 525px;
	white-space: normal
	overflow: auto
	animation: hifromthebottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	pointer-events: auto
	.body
		position: relative
		height: 100%
		img
			max-width: 100%

#dialog, .dialog, .introjs-tooltip
	.close
		cursor: pointer
		position: absolute
		top: 10px
		right: 10px
		color: gainsboro-dark
		font-size: 30px
		line-height: 20px
		z-index: 20
		background: #fff
	h2
		@extend $bigger-font-size
		margin-bottom: 6px
	h3, h4, h5
		color: gainsboro-dark
		@extend $normal-font-size
		font-weight: normal
	h3
		text-transform: uppercase
		margin-bottom: 6px
	h4, h5
		margin-bottom: 6px
	h4
		font-weight: bold
	p
		margin-bottom: 8px
		line-height: 17px
	ul.ver-list
		padding-left: 20px
		list-style-type: disc
	.delete-room-form
		margin-top: 12px
		.delete
			@extend .button-delete
	a.creator-name
		@extend $hoverable
		color: link-color
		text-decoration: none
		border-bottom: 1px solid link-color
		margin: 1px
		padding: 1px 0
	table, td
		vertical-align: top
	table
		margin: 0 0 5px 0
		width: 100%
		display: table
		max-width: 100%
	td
		width: 50%
		> em
			margin-bottom: 5px
	td:first-of-type
		padding-right: 22px
	pre
		padding-bottom: 3px
	code
		width: 100%
	.example-text
		background: #f8f8f8
		border-radius: 3px
		border: 1px solid #dad6e0
		padding: 0 2px
	.manager-menu
		a
			display: inline-block
			text-decoration: none
			padding: 5px 17px
			text-align: center
			color: gainsboro-dark
			&.selected
				color: grape-dark
				border-bottom: 2px solid grape-light
			&:hover
				color: grape-typo
	.room-list
		.room
			@extend $clearfix
		.main
			margin: 0px
			overflow: hidden
		.room-info
			@extend $small-font-size
			margin: 0
			color: gainsboro-dark
			li
				padding: 0
				margin-right: 10px
				display: inline-block
				.fa
					margin-right: 3px
		.room-face
			width: 42px
			height: 42px
			line-height: 42px
			font-size: 16px
			margin-top: -1px
			.room-icon
				right: -14px
				width: 18px
				height: 18px
				line-height: 19px
				font-size: 11px
		.pm.deleted
			color: gainsboro-dark
			.avatar-status
				background: gainsboro-dark
			span.user-deleted
				@extend $small-font-size
				text-transform: uppercase
				margin-left: 4px
#IModalOverlay, .overlay
	background: rgba(0, 0, 0, 0.75)
	opacity: 1
	animation: overlayFlowIn 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
