#drop-anywhere
	background: rgba(0,0,0,.75)
	z-index: 9998
	&:after
		content: " "
		position: absolute
		top: 10px
		left: 10px
		right: 10px
		bottom: 10px
		border: 2px dashed aqua-light
		border-radius: 15px
	p
		font-family: FontAwesome
		position: absolute
		top: 50%
		left: 30px
		right: 30px
		font-size: 4em
		text-align: center
		color: aqua-light
		&:before
			content: "\f0c6\0000a0"
