#drop-anywhere
	background: rgba(0,0,0,.8)
	&:after
		content: " "
		position: absolute
		top: 10px
		left: 10px
		right: 10px
		bottom: 10px
		border: 2px dashed aqua-light
		border-radius: 15px
	&:before
		content: "Drop to upload"
		position: absolute
		top: 50%
		left: 30px
		right: 30px
		font-size: 2em
		text-align: center
		color: aqua-light