.zoom-image-clone
	position: fixed
	transition: transform 0.2s linear
	z-index: 20
	cursor: zoom-out
#overlay
	z-index: 19
	cursor: zoom-out
	background-color: jet
	background-color: rgba(jet,0.8)
.loading
	border: 4px solid #ff6600!important