.zoom-image
	cursor: pointer
.zoom-image-clone
	position: fixed
	transition: transform 0.2s linear
	z-index: 999
	cursor: zoom-out
#overlay
	z-index: 998
	cursor: zoom-out
	background-color: grape-typo
	background-color: rgba(grape-typo,0.8)
.loading
	transition: transform 0.2s linear
	opacity: .75
	cursor: progress