input[type="text"],
input[type="search"],
input[type="password"],
textarea,
$textinput
	background: white
	padding: 8px 10px
	color: grape-typo
	border: 1px solid gainsboro-light
	border-radius: 4px
	outline: none
	min-height: 34px
	width: 100%
	&:focus
		outline: none
		border: 1px solid grape-light