input[type="search"], 
input[type="text"], 
textarea, 
$textinput
	border-radius: main-border-radius
	background: #fff
	padding: 8px 10px		
	border: 1px solid gainsboro-light
	color: gainsboro-dark
	outline: none