input[type="text"],
input[type="password"],
textarea,
$textinput
	background: white
	padding: 8px 10px
	color: grape-typo
	border: none
	border-bottom: 1px solid gainsboro-light
	outline: none
	min-height: 34px
	width: 100%
	&:focus
		outline: none
		border-bottom: 1px solid grape-light