.introjs-helperNumberLayerelperLayer
	background-color: rgba(255,255,255,.1)
	border-radius: main-border-radius
	border: 1px solid rgba(255,255,255,.7)
.introjs-tooltip
	min-width: 280px
	max-width: 450px
	h2
		@extend $bigger-font-size
		margin-bottom: 6px
	.introjs-tooltiptext
		padding: 10px
.intro-welcome
	width: 550px
	max-width: 550px
.introjs-helperNumberLayer
	width: 18px
	height: 22px
	background: grape-light
	border: 1px solid rgba(255,255,255,.7)
	border-top-width: 0
	border-left-width: 0
	border-radius: main-border-radius 0 main-border-radius 0
	top: 0
	left: 0
	text-shadow: none
	padding: 0
	font-family: "Roboto", Arial, Helvetica, Geneva, sans-serif!important
.introjs-bullets 
	ul
		li
			a
				width: 12px
				height: 12px
				color: gainsboro-light
				&.active
					color: grape-light
.introjs-button
	@extend $normal-font-size
	@extend .button
	// Component Overwrites
	font-family: "Roboto", Arial, Helvetica, Geneva, sans-serif!important
	text-shadow: none
	color: grape-typo
	background: none
	&:hover
		box-shadow: none
		color: grape-typo
	&.introjs-disabled
		display: none
	&.introjs-nextbutton
		background: none
		color: button-color
		border-radius: 0
		&:hover
			background: silver-light
		&:active
			background: silver-dark
	&.introjs-prevbutton
		display: none
.introjs-center
	margin: 0 auto
	text-align: center
.introjs-image
	width: 100px
	height: auto
.introjs-push-arrow-bottom
	.introjs-arrow
		top: auto !important
		bottom: 20px !important