.introjs-tooltip
	min-width: 250px
	max-width: 450px
	h2
		@extend $bigger-font-size
		margin-bottom: 6px
	.introjs-tooltiptext
		padding: 10px
.intro-welcome
	width: 550px
	max-width: 550px
.introjs-helperNumberLayer
	width: 26px
	height: 26px
	background: grape-light
	border: 2px solid white
	text-shadow: none
	padding: 0
	font-family: "Roboto", Arial, Helvetica, Geneva, sans-serif!important
.introjs-bullets 
	ul
		li
			a
				width: 10px
				height: 10px
				color: gainsboro-light
				&.active
					color: gainsboro-dark
.introjs-button
	@extend $normal-font-size
	font-family: "Roboto", Arial, Helvetica, Geneva, sans-serif!important
	background: grape-light
	border: none
	border-radius: main-border-radius-small
	box-shadow: 0px 3px grape-dark
	color: white !important
	padding: 4px 14px
	outline: none
	text-decoration: none !important
	text-shadow: none
	&:focus
		background: grape-light
	&:hover
		background: lighten(grape-light, 5%)
		box-shadow: 0px 3px grape-dark
	&:active
		background: lighten(grape-light, 10%)
		margin-bottom: -1px
		margin-top: 1px
		box-shadow: 0px 2px grape-dark
	&.introjs-disabled
		display: none
	&.introjs-nextbutton
		color: darken(grass-dark, 50%) !important
		background: grass-light
		box-shadow: 0px 3px grass-dark
		&:hover
			color: darken(grass-dark, 60%)
			background: lighten(grass-light, 40%)
			box-shadow: 0px 3px grass-dark
		&:active
			background: lighten(grass-light, 10%)
			margin-bottom: -1px
			margin-top: 1px
			box-shadow: 0px 2px grass-dark