.label
	display: inline-block
	padding: 4px 9px
	font-weight: normal
	font-size: label-font-size
	color: highlight-text-color
	cursor: pointer
	background: #3bafda
	box-shadow: 0px 2px 0px #37555f
	border-radius: 5px
	.fa
		margin-left: 6px

