// ****
//
// common popup things go here
//
// ****

.popover
	position: absolute
	z-index: 200
	background: white
	padding: 15px
	border-radius: main-border-radius
	border: 1px solid gainsboro-light
	opacity: 1
	box-shadow: 0px 4px 10px -1px rgba(jet, 0.5)
	transition: opacity 500ms
	margin: -10px 0 0 -4px
	max-width: 450px
	white-space: normal
	ul
		padding: 5px 5px 0 0
		margin: 10px 0 0
		max-height: 230px
		overflow: auto
	li
		@extend $functional-list
		padding: 6px 0
	&.left
		&::before
			content: ""
			display: block
			position: absolute
			top: 10px
			left: - arrow-size
			border-right: arrow-size solid gainsboro-light
			border-top: arrow-size solid transparent
			border-bottom: arrow-size solid transparent
		&::after
			content: ""
			display: block
			position: absolute
			top: 10px + 2
			left: - arrow-size + 2
			border-right: arrow-size - 2 solid white
			border-top: arrow-size - 2 solid transparent
			border-bottom: arrow-size - 2 solid transparent
	&.top
		&::before
			content: ""
			display: block
			position: absolute
			top: -10px
			left: 89% // Dirty, improve me!
			border-style: solid
			border-width: 0 arrow-size arrow-size
			border-color: gainsboro-light transparent
		&::after
			content: ""
			display: block
			position: absolute
			top: -10px + 2
			left: 90%
			border-style: solid
			border-width: 0 arrow-size - 2 arrow-size - 2
			border-color: white transparent
	&.hide
		opacity: 0
		transition: opacity 500ms
	.close
		cursor: pointer
		position: absolute
		top: 10px
		right: 10px
		color: gainsboro-dark
		font-size: 30px
		line-height: 20px
	h3
		color: gainsboro-dark
		font-size: 14px
		font-weight: normal
		text-transform: uppercase
	h4
		color: gainsboro-dark
		@extend $small-font-size
		font-weight: bold
		text-transform: uppercase
		margin-bottom: 4px


// ****
//
// user- and organization-popup-specific things go here
// > merged because they have similar look
//
// ****
.userpopover
.organizationpopover
	width: 210px
	padding-top: 6px
	.user-status-form
		height: 30px
		input[type="text"].user-status
			width: 100%
			padding-left: 28px
			&::selection
				background: grape-light
				color: white
		.user-status-icon
			@extend $hoverable
			display: block
			position: relative
			left: 8px
			top: -25px
			width: 14px
			height: 14px
			border-radius: 50%
		.user-status-submit
			display: none
	ul // we need negative margins here to make the area fully clickable, let's rewrite this at some time
		margin: 10px -20px -15px -15px
	li
		border-top: 1px solid silver-dark
		margin: 0
		padding: 0
		&:last-child a // let's have nice rounded edges at the bottom
			border-bottom-right-radius: main-border-radius
			border-bottom-left-radius: main-border-radius
		a
			padding: 8px 16px
			color: grape-typo // normal font color in menus
			.fa
				color: gainsboro-light
				margin-right: 8px
			&:hover
				background: silver-light
				.fa
					color: grape-light


// ****
//
// room-popup-specific things go here
//
// ****

.roompopover
	width: 320px
	&.openform
		.button.new
			display: none
		.newroom
			display: block
	.newroom
		display: none
		width: 320px
		.formrow
			margin-bottom: 10px
		.visibility-headline
			float: left
		label.text, h4
			display: inline-block
			width: 120px
			margin-top: 4px
			padding-left: 3px
		.radio-wrapper
			display: inline-block
			width: 200px
			margin-top: 4px
		input[type="text"]
			@extend $textinput
			width: 200px
		input[type="radio"]
			display:none
			&:checked + label:before
				content: "\2022"
				color: grape-light
		label.radio-label
			@extend $hoverable
			display: block
			position: relative
			width: 200px
			margin: 0 0 10px 20px
			&:before
				content: ""
				display: inline-block
				width: 17px
				height: 17px
				position: absolute
				left: -20px
				top: 0
				background-color: silver-light
				box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .1), 0px 1px 0px 0px rgba(255, 255, 255, .6)
				border-radius: 8px
				font-family: sans-serif // need this here, otherwise the dot isn't all round.
				font-size: 38px
				line-height: 19px
				text-align: center
			&:hover
				&:before
					content: "\2022"
					color: gainsboro-light	
			span.radio-label-subline
				@extend $small-font-size
				display: block
				padding: 3px 4px 3px 0
	.button.create
	.button.new
		float: right


// ****
//
// personal message-popup-specific things go here
//
// ****

.pmpopover
	width: 240px
	li.item
		border-radius: main-border-radius
		padding: 6px 4px
		@extend $hoverable
		&:hover
			background: silver-light