// ****
//
// common popup things go here
//
// ****

.popover
	position: absolute
	z-index: 200
	background: white
	border-radius: 5px
	border: 1px solid gainsboro-light
	opacity: 1
	box-shadow: 0px 4px 10px -1px rgba(jet, 0.5)
	transition: opacity .2s
	margin: -10px 0 0 -4px
	max-width: 450px
	white-space: normal
	transform: scaleX(1) translate3d(0, 0, 0)
	animation: hifromthetop 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
	.po-scroll-wrap
		padding: 0
		display: block
		overflow: auto
		max-height: 450px
		border-top: 1px solid silver-dark
		border-bottom: 1px solid silver-dark
		background: silver-light
	.name, author
		height: 1.3em
		line-height: 1em	
		overflow: hidden
		white-space: nowrap
		max-width: 220px
		text-overflow: ellipsis
	&.left
		animation: hifromtheleft 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		&::before
			content: ""
			display: block
			position: absolute
			top: 10px
			left: - arrow-size
			border-right: arrow-size solid gainsboro-light
			border-top: arrow-size solid transparent
			border-bottom: arrow-size solid transparent
		&::after
			content: ""
			display: block
			position: absolute
			top: 10px + 2
			left: - arrow-size + 2
			border-right: arrow-size - 2 solid white
			border-top: arrow-size - 2 solid transparent
			border-bottom: arrow-size - 2 solid transparent
	&.top
		&::before
			content: ""
			display: block
			position: absolute
			top: -10px
			left: 89% // Dirty, improve me!
			border-style: solid
			border-width: 0 arrow-size arrow-size
			border-color: gainsboro-light transparent
		&::after
			content: ""
			display: block
			position: absolute
			top: -10px + 2
			left: 90%
			border-style: solid
			border-width: 0 arrow-size - 2 arrow-size - 2
			border-color: white transparent
	&.hide
		transition: opacity .2s
	.inner-popover
		@extend $clearfix
		padding-left: 16px
		padding-right: 16px
		&:last-of-type,
		.last
			padding-bottom: 12px
			padding-top: 8px
	h3
		color: gainsboro-dark
		font-size: 14px
		font-weight: normal
		text-transform: uppercase
		margin-top: 16px
	h4
		color: gainsboro-dark
		@extend $small-font-size
		text-transform: uppercase
		margin-top: 16px
	&.item-po
		margin-top: -90px
		&:before, &:after
			margin-top: 85px
	&.orga-po
		margin: 0
		left: 4px !important
		top: header-height - 3px !important
		&::before
			left: 13px
		&::after
			left: 14px
	&.members-po
		margin: 42px 0 0 -76px
		&::before
			left: 15%
		&::after
			left: 15%
	.toggle
		margin-left: 4px
		float: right
		margin-top: 4px
	input[type="text"]
		margin: 5px 0

.popover-list
	li
		margin: 0
		padding: 0
		@extend $functional-list
		&.break-line
			border-top: 1px solid silver-dark
		&:last-child a // let's have nice rounded edges at the bottom
			border-bottom-right-radius: main-border-radius
			border-bottom-left-radius: main-border-radius
		&:first-child a // let's have nice rounded edges at the top
			border-top-right-radius: main-border-radius
			border-top-left-radius: main-border-radius
		a
		.func-inner-wrap
			min-width: 224px
			padding-left: 16px
			padding-right: 16px
			.fa
				margin-right: 10px
				@extend $big-font-size
		.avatar-wrap
			margin-top: -1px
// ****
//
// user- and organization-popup-specific things go here
// > merged because they have similar look
//
// ****
.organizationpopover
	.user-status-form
		height: 30px
		input[type="text"].user-status
			width: 100%
			padding-left: 28px
			&::selection
				background: grape-light
				color: white
		.user-status-icon
			@extend $hoverable
			display: block
			position: relative
			left: 8px
			top: -25px
			width: 14px
			height: 14px
			border-radius: 50%
		.user-status-submit
			display: none


// ****
//
// MANAGE CHATROOMS-popup-specific things go here
//
// ****

.roompopover
.roomcreationpopover
	// Make em same height
	width: 360px
	.po-scroll-wrap
		padding-top: 0
	.list-hl
		padding-top: 0
	.room
		@extend $clearfix
	.main
		margin: 0px
		overflow: hidden
	.room-info
		@extend $small-font-size
		margin: 0
		color: gainsboro-dark
		li
			padding: 0
			margin-right: 10px
			display: inline-block
			.fa
				margin-right: 3px
	.inner-popover
		padding-bottom: 0 !important
		.room-manager-navigation
			a
				display: inline-block
				text-decoration: none
				padding: 3px 12px
				text-align: center
				color: gainsboro-dark
				&.selected
					color: grape-dark
					border-bottom: 2px solid grape-light
				&:hover
					color: grape-typo
	.popover-list .room-face
		width: 42px
		height: 42px
		line-height: 42px
		font-size: 16px
		.room-icon
			right: -14px
			width: 18px
			height: 18px
			line-height: 19px
			font-size: 11px

// ****
//
// FORM-specific things go here
//
// ****

.formrow
	margin-bottom: 10px
.visibility-headline
	float: left
label.text
	display: inline-block
	width: 120px
	margin-top: 4px
	padding-left: 3px
.radio-wrapper
	display: inline-block
	width: 200px
	margin-top: 4px
input[type="radio"]
	display:none
	&:checked + label:before
		content: "\2022"
		color: grape-light
label.radio-label
	@extend $hoverable
	display: block
	position: relative
	margin: 0 0 10px 20px
	padding-left: 2px
	&:before
		content: ""
		display: inline-block
		width: 17px
		height: 17px
		position: absolute
		padding-top: 1px
		left: -20px
		background-color: silver-light
		box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .1), 0px 1px 0px 0px rgba(255, 255, 255, .6)
		border-radius: 8px
		font-family: sans-serif // need this here, otherwise the dot isn't all round.
		font-size: 38px
		text-align: center
		line-height: 18px
	&:hover
		&:before
			content: "\2022"
			color: gainsboro-light
	span.radio-label-subline
		color: gainsboro-dark
		display: block
		padding: 3px 4px 3px 0
.button.create
.button.new
.button.delete
	float: right


// ****
//
// PERSONAL MESSAGE-popup-specific things go here
//
// ****


.pmpopover
	width: 320px
.empty-message
	padding: 14px 0


// ****
//
// ROOM MEMBER-popup-specific things go here
//
// ****
.roommemberspopover
	.popover-list > li
		&:hover
			background-color:  silver-dark
		a
			min-width: 290px
			float: left
			&:hover
				background-color:  silver-dark
		span.btn-delete
			visibility: hidden
			color: gainsboro-dark
			float: right
			margin: 13px 15px 0 0
			cursor: pointer
		&:hover
			span.btn-delete
				visibility: visible
				display: inline-block
	width: 320px
	.input-invite
		@extend $textinput
		width: 100%
		height: 38px
		overflow: hidden
		margin: 5px 0
		resize: vertical
	.btn-invite
		display: block
		float: right
	.invite-to-room
		@extend $clearfix
		.Textcomplete-hidden
			display: none
		.autocomplete-wrapper
			margin: 0
			top: -42px
			.autocomplete
				position: relative
				max-height: 150px
		button
			float: right
			margin-left: 5px