// ****
//
// common popup things go here
//
// ****

.popover
	position: absolute
	z-index: 200
	background: white
	padding: 15px
	border-radius: main-border-radius
	border: 1px solid gainsboro-light
	opacity: 1
	box-shadow: 0px 4px 10px -1px rgba(jet, 0.5)
	transition: opacity 500ms
	margin: -10px 0 0 -4px
	max-width: 450px
	white-space: normal
	.po-scroll-wrap
		padding: 5px 5px 0 0
		max-height: 250px
		display: block
		overflow: auto
		> li:hover
			.icon-wrap
				color: grape-light
			.name, .author
				color: aqua-light
				text-decoration: underline
			.toggle.leave
				color: bittersweet-light
				.fa-check-circle-o, .j-info
					display: none
				.fa.fa-times-circle-o, .l-info
					display: inline-block
			.toggle.join
				color: grass-light
	li
		padding: 6px 0
		@extend $functional-list
	.name, author, .toggle
		height: 1.25em
		line-height: 1em
	.name, author
		font-weight: bold
		color: gainsboro-dark
		overflow: hidden
	&.left
		&::before
			content: ""
			display: block
			position: absolute
			top: 10px
			left: - arrow-size
			border-right: arrow-size solid gainsboro-light
			border-top: arrow-size solid transparent
			border-bottom: arrow-size solid transparent
		&::after
			content: ""
			display: block
			position: absolute
			top: 10px + 2
			left: - arrow-size + 2
			border-right: arrow-size - 2 solid white
			border-top: arrow-size - 2 solid transparent
			border-bottom: arrow-size - 2 solid transparent
	&.top
		&::before
			content: ""
			display: block
			position: absolute
			top: -10px
			left: 89% // Dirty, improve me!
			border-style: solid
			border-width: 0 arrow-size arrow-size
			border-color: gainsboro-light transparent
		&::after
			content: ""
			display: block
			position: absolute
			top: -10px + 2
			left: 90%
			border-style: solid
			border-width: 0 arrow-size - 2 arrow-size - 2
			border-color: white transparent
	&.hide
		opacity: 0
		transition: opacity 500ms
	.close
		cursor: pointer
		position: absolute
		top: 10px
		right: 10px
		color: gainsboro-dark
		font-size: 30px
		line-height: 20px
	h3
		color: gainsboro-dark
		font-size: 14px
		font-weight: normal
		text-transform: uppercase
		margin-bottom: 10px
	h4
		color: gainsboro-dark
		@extend $small-font-size
		font-weight: bold
		text-transform: uppercase
		margin-bottom: 4px
	&.user-po
		margin: 34px 0 0 -213px
		right: 20px !important
		left: auto !important
	&.item-po
		margin-top: -120px
		&:before, &:after
			margin-top: 115px
	&.orga-po
		margin: 9px 0 0 -4px
	&.members-po
		margin: 27px 0 0 -154px
		&::before
			left: 50%
		&::after
			left: 50%
	.toggle
		padding-left: 4px
		background: white
		border: none
		float: right
		&.join
			color: gainsboro-dark
			&:active
				color: grass-dark
		&.leave
			color: grass-light
			.fa.fa-times-circle-o, .l-info
				display: none
			&:active
				color: bittersweet-dark

// ****
//
// user- and organization-popup-specific things go here
// > merged because they have similar look
//
// ****
.userpopover
.organizationpopover
	width: 210px
	padding-top: 6px
	.user-status-form
		height: 30px
		input[type="text"].user-status
			width: 100%
			padding-left: 28px
			&::selection
				background: grape-light
				color: white
		.user-status-icon
			@extend $hoverable
			display: block
			position: relative
			left: 8px
			top: -25px
			width: 14px
			height: 14px
			border-radius: 50%
		.user-status-submit
			display: none
	ul // we need negative margins here to make the area fully clickable, let's rewrite this at some time
		margin: 10px -20px -15px -15px
	li
		border-top: 1px solid silver-dark
		margin: 0
		padding: 0
		&:last-child a // let's have nice rounded edges at the bottom
			border-bottom-right-radius: main-border-radius
			border-bottom-left-radius: main-border-radius
		a
			padding: 8px 16px
			color: gainsboro-dark // normal font color in menus
			font-weight: bold
			&:hover
				color: aqua-light
				text-decoration: underline
			.fa
				color: gainsboro-light
				margin-right: 8px
			&:hover
				background: silver-light
				.fa
					color: grape-light


// ****
//
// ROOM-popup-specific things go here
//
// ****

.roompopover
	width: 320px
	&.openform
		.button.new
			display: none
		.newroom
			display: block
	.newroom
		display: none
		width: 320px
	.po-scroll-wrap
		padding-top: 0
	.list-hl
		padding-top: 0
	.room
		@extend $hoverable
		@extend $clearfix
	.main
		margin: 0px
		overflow: hidden
	.room-info
		color: gainsboro-dark
	.icon-wrap
		font-size: 1.5em
		padding: 0
		float: left
		margin-right: 3px
		color: gainsboro-light
	.room-info
		@extend $horizontal-list
		@extend $small-font-size
		margin: 0
		li
			padding: 0


// ****
//
// form
//
// ****

.formrow
	margin-bottom: 10px
.visibility-headline
	float: left
label.text
	display: inline-block
	width: 120px
	margin-top: 4px
	padding-left: 3px
.radio-wrapper
	display: inline-block
	width: 200px
	margin-top: 4px
input[type="text"]
	@extend $textinput
	width: 200px
input[type="radio"]
	display:none
	&:checked + label:before
		content: "\2022"
		color: grape-light
label.radio-label
	@extend $hoverable
	display: block
	position: relative
	width: 200px
	margin: 0 0 10px 20px
	&:before
		content: ""
		display: inline-block
		width: 17px
		height: 17px
		position: absolute
		left: -20px
		top: 0
		background-color: silver-light
		box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .1), 0px 1px 0px 0px rgba(255, 255, 255, .6)
		border-radius: 8px
		font-family: sans-serif // need this here, otherwise the dot isn't all round.
		font-size: 38px
		line-height: 19px
		text-align: center
	&:hover
		&:before
			content: "\2022"
			color: gainsboro-light	
	span.radio-label-subline
		@extend $small-font-size
		display: block
		padding: 3px 4px 3px 0
.button.create
.button.new
.button.delete
	float: right


// ****
//
// PERSONAL MESSAGE-popup-specific things go here
//
// ****


.pmpopover
.roommemberspopover
	li.item
		border-radius: main-border-radius
		padding: 6px 4px
		@extend $hoverable
		.avatar-wrap
			margin-top: -1px
	.manage-users
		float: left
		&:hover
			color: white
			text-decoration: none
		i
			margin-left: 6px

.pmpopover
	width: 320px	

.user-list
	li
		@extend $functional-list
		.avatar-wrap
			margin-right: 5px

.empty-message
	padding: 14px 0


// ****
//
// ROOM MEMBER-popup-specific things go here
//
// ****
.roommemberspopover
	h4
		margin: 12px 0 6px 0
	input[type="text"]
		@extend $textinput
		width: 100%

.delete-room
	float: right
	@extend $delete-link
.invite-to-room
	@extend $clearfix
	> div
		overflow: hidden
	button
		float: right
		margin-left: 5px
//
// Invite users stylings
//
// FIXME: https://github.com/ubergrape/chatgrape/issues/573#issuecomment-47516977
//
.popover
	hr
		width: 100%
	.input-invite
		width: 100%
		height: 34px
		overflow: hidden
	.btn-invite
		display: block
		float: right
	.invite-to-room
		.autocomplete-wrapper
			margin: 0
			.autocomplete
				position: relative
				top: -4px
	
