.search-results
	@extend $overlay
	margin-bottom: footer-height
	padding-left: 0
	display: none
	.result-info
		@extend $clearfix
		margin: 0 0 16px 0
		padding-left: 30px
	.result-filter-toggle
		@extend .button
		float: right
		margin-left: 8px
	.result-nr
		overflow: hidden
		font-size main-font-size
		line-height main-line-height

.result-filters
	float: right
	width: 220px
	margin: 0 0 0 10px
	padding: 0 15px
	min-height: 300px
	border-left: 1px solid silver-dark
	h2
		font-weight: bold
		margin-bottom: 4px
	ul
		margin-bottom: 12px
.result-wrapper
	overflow: hidden
	padding-left: 30px
.result-list
	> li
		@extend $clearfix
		position: relative
		margin-bottom: 22px
		.item-info
			float: left
			width: 180px
			h2
				font-weight: bold
				margin-bottom: 2px
			i, span
				color: gainsboro-dark
				@extend $small-font-size
			i
				margin-right: 5px
		.item-content
			overflow: hidden
			span
				background: search-highlight
				padding: 0px 3px
				margin: 0 -3px
				border-radius: 4px
		.item-footer
			margin-top: 7px
			@extend $clearfix
			text-transform: uppercase
			@extend $small-font-size
			font-weight: bold
			li
				float:left
				margin-right: 8px
				a
					color: grape-light
			.time
				color: gainsboro-dark
			.option
				margin-right: 22px
		&.selected // for arrow navigation
			&::before
				content: \u25B6
				position: absolute
				left: -16px
				top: 50%
				margin-top: -3px
				border-left: 8px solid jet
				border-top: 6px solid transparent
				border-bottom: 6px solid transparent
