// ****
//
// Tooltips
//
// ****

.tooltip
    position: absolute
    padding: .8em 1em
    top: 15px /* Defines the spacing between tooltip and target position */
    max-width: 200px
    color: white
    background: jet