.organizationpopover
	h3=_('Your Organization')
	span.close(onclick="document.getElementById('make-me-dynamic-1').style.display='none';return false;") ×
	ul.po-scroll-wrap
		li
			a(href='/accounts/organization/settings/', target='_self')
				i.fa.fa-cog
				=_('Organization Settings')
		li
			a(href='/accounts/organization/settings/members/', target='_self')
				i.fa.fa-user
				=_('Manage Members')
		li
			a(href='/services/list/', target='_self')
				i.fa.fa-link
				=_('Service Integrations')
		li
			a(href='/accounts/organization/dashboard/', target='_self')
				i.fa.fa-random
				=_('Switch Organizations')
