.roompopover.popover-left
	h3
		=_('All chatrooms')
		span.close ×
	ul
	button.button.new.mar-t20
		=_('Create new chatroom')
	form.newroom.mar-t20
		.formrow
			label.text(for="newroom-name")=_('Name')
			input(type="text", id="newroom-name")
		//- .formrow.invisible
		//- 	h4.visibility-headline=_('Visibility')
		//- 	.radio-wrapper
		//- 		input(type="radio", id="visibility-public", name="newroom-visibility", value="public", checked)
		//- 		label(for="visibility-public").radio-label
		//- 			=_('Public')
		//- 			span.radio-label-subline=_('All members can see and join this chatroom.')
		//- 		input(type="radio", id="visibility-private", name="newroom-visibility", value="private")
		//- 		label(for="visibility-private").radio-label
		//- 			=_('Private')
		//- 			span.radio-label-subline=_('This chatroom can only be seen and joined by members which you invite.')
		input.button(type="reset", value=_('Cancel'))
		input.button.create(type="submit", name="submit", value=_('Create'))