.roomcreationpopover.popover-left
	h3
		=_('Create new chatroom')
		span.close ×
	form.create-room-form
		.formrow
			input(type="text", id="newroom-name", placeholder="Enter name ...")
			input(type="radio", id="public", name="is_public", value="true", checked)
			label(for="public")= _('Public room')
			input(type="radio", id="private", name="is_public", value="false")
			label(for="private")= _('Private room')
		input.button(type="reset", value=_('Cancel'))
		input.button.create(type="submit", name="submit", value=_('Create'))