.userpopover
	h3=_('My settings')
	span.close ×
	form.user-status-form.hide
		input.user-status(type="text", id="user-status", onClick="this.select();", value=_("Working on designs"))
		input.user-status-submit(type="submit")
		span.user-status-icon.online
	ul.po-scroll-wrap
		li.hide
			a(href='#')
				i.fa.fa-eye
				=_('Compact View')
		li
			a#Intercom(href='mailto:dbd2d8fc25c5583bad9c3fa7bafa0eba83c54631@incoming.intercom.io')
				i.fa.fa-bullhorn
				=_('Give Feedback')
		li
			a(href='#',onclick='ui.intro.start();window.analytics.track("Started Tutorial", {via: "user menu"});')
				i.fa.fa-life-saver
				=_('Tutorial')
		li
			a(href='/accounts/settings/', target='_self')
				i.fa.fa-cog
				=_('User Settings')
		li
			a(href='/accounts/settings/notifications/', target='_self')
				i.fa.fa-bell
				=_('Notification Settings')
		li
			a(href='/accounts/logout/', target='_self')
				i.fa.fa-sign-out
				=_('Sign Out')