.userpopover
	h3=_('My settings')
	//- #{user.username} gives "loading" here, anybody fix that please
	span.close ×
	form.user-status-form.hide
		input.user-status(type="text", id="user-status", onClick="this.select();", value=_("Working on designs"))
		input.user-status-submit(type="submit")
		span.user-status-icon.online
	ul.po-scroll-wrap
		li.hide
			a(href='#')
				i.fa.fa-eye
				=_('Compact View')
		li
			a(href='#',onclick='ui.intro.start();')
				i.fa.fa-life-saver
				=_('Tutorial')
		li
			a(href='/accounts/settings/', target='_self')
				i.fa.fa-cog
				=_('User Settings')
		li
			a(href='/accounts/logout/', target='_self')
				i.fa.fa-sign-out
				=_('Sign Out')