@import "misc/variables"
@import "misc/reusables"
@import "misc/typography"

@import "elements/buttons"
@import "elements/avatar"
@import "elements/popover"
@import "elements/labels"
@import "elements/search"

@import "framework/chat-content"
@import "framework/header"
@import "framework/sidebar"
@import "framework/footer"

/*______ GENERAL ______*/

html, body
	margin: 0
	padding: 0
	height: 100%
	overflow: hidden
	text-rendering: optimizelegibility
	font-family: "Roboto", Arial, Helvetica, Geneva, sans-serif
	font-size: main-font-size
	line-height: main-line-height
	color: grape-typo
*
	box-sizing: border-box
h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0
a
	@extend $hoverable
::-webkit-scrollbar
	width: 6px
::-webkit-scrollbar-track
	background-color: silver-dark
	border-radius: 3px
::-webkit-scrollbar-thumb
	border-radius: 3px
	background-color: gainsboro-light
::-webkit-scrollbar-thumb:hover
	background-color: gainsboro-dark

img
	max-width: 100%

/*______ FRAMEWORK ______*/

.client
	position: relative
	background: jet
	height: 100%
	overflow: hidden

/*______ Some common things who need to be distributed properly ______*/
hr
	margin: 4px 0
	height: 1px
	border: none
	background: gainsboro-light
	//background: linear-gradient(left, silver-light, gainsboro-light, silver-light) // fancy, but not our style

/* _____ COMPONENT FIXES ________ */
.scrollbars-override
	overflow-x: hidden !important;
