header_border = 2px;

section.content {
	position: fixed;
	top: 0;
	left: nav_width;
	bottom: 0;
	right: 0;

	background: chat_bg;

	header {
		height: header_height;
		padding: header_padding;

		background: chat_head;
		border-bottom: header_border solid chat_border;

		h1, h2 {
			padding: 0;
			display: inline-block;
		}
		input {
			float: right;
		}
	}
	section.chat {
		padding: header_padding;
		// FIXME: same bullshit as in nav.styl
		height: "calc(100% - %s)" % (6 * header_padding + 2 * header_height + 2 * header_border);
		overflow: auto;
	}
	footer {
		height: header_height;
		padding: header_padding;

		border-top: header_border solid chat_border;
		background: chat_head;
	}
}
