
// generate random colors for use by users
numcolors = 20;
colors = ();

for i in (0...numcolors) {
	color = hsl(i * 11 * (360 / numcolors), 70%, 60%);
	push(colors, color);
}

// define the basic styles/colors
nav_bg = #292d32
nav_head = #262a2e
nav_text = #7d7f82
nav_highlight = white

chat_bg = #f7f7f7
chat_head = #f1eeef
chat_border = #dfdfdf

// define measures
nav_width = 250px
header_height = 50px
header_padding = 20px
