
@import defines

// expand colors:
for color, i in colors {
	.colors-{i} {
		color: color;
	}
}

@import fonts

// TODO: import a reset stylesheet

// TODO: move this to a different file maybe?
html, body {
	margin: 0;
	padding: 0;
	background: nav_bg;
}

@import nav
@import content

@import chatline
