{
  "presets": ["es2015", "react", "stage-0"],
  "plugins": [
    "macros",
    "transform-decorators-legacy",
    "transform-react-stateless-component-name",
    ["react-intl", {
        "messagesDir": "./i18n"
    }]
  ],
  "env":  {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements"
      ]
    }
  },
  "babelrc": false
}
