{
  "extends": "eslint-config-ubergrape",
  "globals": {
    "__STATIC_PATH__": true
  },
  "env": {
    "jest": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/__tests__/**"]
      }
    ]
  }
}
