{
  "extends": "eslint-config-airbnb",
  "rules": {
    "semi": 0,
    "eqeqeq": [2, "smart"],
    "no-eq-null": 0,
    "brace-style": [2, "stroustrup"],
    "no-use-before-define": [2, "nofunc"],
    "react/jsx-uses-react": 2,
    //Temporarirly disabled due to a possible bug in babel-eslint
    "block-scoped-var": 0
  },
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "mocha": true
  },
  "globals": {
    "__DEV__": true,
    "__TEST__": true
  }
}
