.DS_Store
node_modules
coverage
npm-debug.log
*.tgz
*.patch
*.diff
dist
lib

# Yarn in root and sub directories

**/.yarn/*
**/!.yarn/patches
**/!.yarn/releases
**/!.yarn/plugins
**/!.yarn/sdks
**/!.yarn/versions
**/.pnp.*