doctype html
html
	head
		title OneTeam
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", type="text/css", href="/static/app/components.css")
		link(rel="stylesheet", type="text/css", href="/static/app/app.css")
		script(type="application/javascript", src="/static/app/app.js")
	body
		.client
			header
				.client-info
					.logo one<em>team</em>
					.userinfo
				.client-room-info
					h1.roomname Room
					span.usersonline
					input.search(type="search", placeholder="search for content, documents, appointments, …")

			.client-body
				nav.navigation
					section.nav-lists
						h2 Chatrooms
						ul.rooms
						h2 Conversations
						ul.conversations
				section.chat
					.chathistory

			footer.client-input
				.input-wrapper
					textarea.input(autofocus)

		script(type="application/javascript").
			require('cg');

