doctype html
html
	head
		title OneTeam
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", type="text/css", href="/static/app/components.css")
		link(rel="stylesheet", type="text/css", href="/static/app/app.css")
		script(type="application/javascript", src="/static/app/app.js")
	body

		nav.overview
			header
				h1 one<em>team</em>
				.userinfo
			section.lists
				h2 Rooms
				ul.rooms
				h2 Conversations
				ul.conversations

		section.content
			header
				h1.roomname Room
				h2.usersonline
				input(type="search", placeholder="search for content, documents, appointments, …")
			section.chat
				.chathistory
			footer
				textarea.input(autofocus)

		script(type="application/javascript").
			require('cg');

