.grape-input-wrapper(class= shrunk ? 'shrunk' : '')
	.edit-message
		=_('Hit ')
		span=_('ESC')
		=_(' to cancel editing.')
	.controls-wrapper
		.search-browser-button.js-search-browser-button
			span #
		grape-input(id='intro-step1').grape-input
		.controls-group
			.uploader
			.emoji-browser-button.js-emoji-browser-button
				i.fa.fa-smile-o
			.info-markdown.js-markdown-tips
				i.fa.fa-question
	.avatar
		img.image(src="#{user.avatar}",width="42",height="42",alt="#{user.username}")
