.client
	nav.navigation.nav-wrap
	.client-body
		header.room-header(data-step='4', data-topic='room header')
		.main-window
			div.chat-wrapper
				section.chat
			footer.footer(id="intro-stepOne", data-step='1', data-topic='grape input')
