.client
	nav.navigation.nav-wrap
	.client-body
		header.room-header(id="intro-step4", data-step='4', data-topic='room header')
		div.chat-wrapper
			section.chat
		footer.footer(id="intro-stepOne", data-step='1', data-topic='grape input')
