div
	- var users = items.filter(function(item) { return item.proactive })
	- var inactive = items.filter(function(item) { return !item.proactive })

	if users.length
		ul.nav-list.pms
			each user in users
				include pm-item

	if inactive.length
		div.inactive
			if (inactive.some(function(user) { return user.pm === selected }) || !users.length)
				input.inactive-toggler(id="inactive-pm" type="checkbox" checked)
			else
				input.inactive-toggler(id="inactive-pm" type="checkbox")

			label.inactive-toggle(for="inactive-pm")
				| #{inactive.length} more
				i.mdi.mdi-chevron-down
			ul.nav-list.pms.inactive-list
				each user in inactive
						include pm-item

