div
	if items.length
		ul.nav-list.pms
			each user in items
				include pm-item

	if inactive.length
		div.inactive
			input.inactive-toggler(id="inactive-pm" type="checkbox")
			label.inactive-toggle(for="inactive-pm")
				| #{inactive.length} more
				i.mdi.mdi-chevron-down
			ul.nav-list.pms.inactive-list
				each user in inactive
						include pm-item

