div
	- var proactive = items.filter(function(item) { return item.proactive })
	- var inactive = items.filter(function(item) { return !item.proactive })
	- var isInsideInactive = inactive.some(function(user) { return user.pm && user.pm === selected })
	- var isSmallList = !proactive.length || items.length < 5

	if proactive.length
		ul.nav-list.pms
			each user in proactive
				include pm-item

	if inactive.length
		div.inactive
			if (!isSmallList || isInsideInactive)
				input.inactive-toggler(id="inactive-pm" type="checkbox" checked=(isInsideInactive ? 'checked' : undefined))
				label.inactive-show(for="inactive-pm")
					| #{inactive.length} more
					i.mdi.mdi-chevron-down

			ul.nav-list.pms.inactive-list
				each user in inactive
						include pm-item

			if (!isSmallList)
				label.inactive-hide(for="inactive-pm")
					| Hide #{inactive.length} inactive chats
					i.mdi.mdi-chevron-up
