.right-sidebar-wrapper
	.right-sidebar-room-info
		.right-sidebar-room-wrap
			.uploads
			.members
	.right-sidebar-tags
		.right-sidebar-tags-wrap
			.hashtags
				.no-tags
					i.mdi.mdi-tag-text-outline
					span
						| Your team hasn't tagged anything yet.
						br
						br
						| You can tag messages for later reference by adding a hashtag to them.
						br
						br
						| Example:
						br
						| Organize a todo list with your team by using the tag #todo!
