div
	if items.length
		ul.nav-list.rooms
			each room in items
				include channel-item

	if inactive.length
		div.inactive
			input.inactive-toggler(id="inactive-rooms" type="checkbox")
			label.inactive-toggle(for="inactive-rooms")
				| #{inactive.length} more
				i.mdi.mdi-chevron-down
			ul.nav-list.rooms.inactive-list
				each room in inactive
						include channel-item
