div
	- var joined = items.filter(function(item) { return item.joined })
	- var proactive = joined.filter(function(item) { return item.proactive })
	- var inactive = joined.filter(function(item) { return !item.proactive })
	- var isInsideInactive = inactive.indexOf(selected) >= 0
	- var isSmallList = !proactive.length || joined.length < 5

	if proactive.length
		ul.nav-list.rooms
			each room in proactive
				include channel-item

	if inactive.length
		div.inactive
			if (!isSmallList || isInsideInactive)
				input.inactive-toggler(id="inactive-rooms" type="checkbox" checked=(isInsideInactive ? 'checked' : undefined))
				label.inactive-show(for="inactive-rooms")
					| #{inactive.length} more
					i.mdi.mdi-chevron-down

			ul.nav-list.rooms.inactive-list
				each room in inactive
					include channel-item

			if (!isSmallList || isInsideInactive)
				label.inactive-hide(for="inactive-rooms")
					| Hide #{inactive.length} inactive rooms
					i.mdi.mdi-chevron-up
