div
	- var joined = items.filter(function(item) { return item.joined })
	- var rooms = joined.filter(function(item) { return item.proactive })
	- var inactive = joined.filter(function(item) { return !item.proactive })
	- var isSmallList = inactive.indexOf(selected) >= 0 || !rooms.length || joined.length < 5

	if items.length
		ul.nav-list.rooms
			each room in rooms
				include channel-item

	if inactive.length
		div.inactive
			if (!isSmallList)
				input.inactive-toggler(id="inactive-rooms" type="checkbox")
				label.inactive-show(for="inactive-rooms")
					| #{inactive.length} more
					i.mdi.mdi-chevron-down

			ul.nav-list.rooms.inactive-list
				each room in inactive
					include channel-item

			if (!isSmallList)
				label.inactive-hide(for="inactive-rooms")
					| Hide #{inactive.length} inactive rooms
					i.mdi.mdi-chevron-up
