ul.search-list
    each item in items
        if item.channel.type == 'room' || item.channel.type == 'pm'
            li.result-object
                - var payload = item.channel.type === 'room' ? item.channel.slug : '@' + item.channel.users[0].username.toLowerCase()
                a.message-link(href='/chat/' + payload + '/' + item.id)
                    .item-object.main
                        .item-content
                            .item-text
                                = html(item.highlighted)