.typing-notification
	if mode !== 'search' && room.typing && room.typing.length != 0
		| _
		i.fa.fa-pencil
		|  
		each typing_user, index in room.typing
			span.user= typing_user.displayName
			if room.typing.length > 2 && index < room.typing.length - 2
				| , 
			if room.typing.length > 1 && index === room.typing.length - 2
				|  and 
		if room.typing.length == 1
			=_(" is typing")
		else
			=_(" are typing")
		span.dotOne .
		span.dotTwo .
		span.dotThree .