.uploads
	.right-sidebar-header
		i.mdi.mdi-attachment
		span.title Recently uploaded files
	.ul.file-list
		li.item.no-uploads
			i.mdi.mdi-book
			span Recently uploaded files will appear here for quick reference.
