h3
	=_('Invite new members')
form.invite-to-room
	textarea.input-invite(name="invite-users", placeholder="Enter names or email addresses ...")
	button.button.btn-invite.btn-icon.btn-primary(type="submit", name="submit")
		i.icon.fa.fa-user-plus
		| Invite members
ul.invite-list
	each invitee in users
		li.channel-item(data-username="#{invitee.username}")
			a
				.item-inner-wrp
					.avatar-wrap
						if invitee.status === 16
							span.online
						else
							span.offline
						img(src="#{invitee.avatar}",width="28",alt="#{invitee.username}")
						.avatar-status(class=(user.status === 16 ? 'online' : 'offline'))
					span.channel-name
						| #{invitee.displayName}