.top-bar
	.title
		span=_(header)
		if (button && button.visible)
			div(class=button.className)
				.dialog-button
					=_(button.text)
	if tabs
		div.manager-menu(class=tabs.visible ? '' : 'hidden')
			each item in items
				a(class=item.className, class= item == selected ? 'selected' : '')= _(item.title)