form.invite-to-org
	textarea.input-invite(name="invite-users", placeholder="Enter one or more email addresses separated by a space." style="max-width:72%")
	button.button.btn-invite.btn-icon.btn-primary(type="submit", name="submit")
		i.icon.fa.fa-user-plus
			| Invite members