form.preferences
	
	input.compactmode(type="checkbox", name="compactmode", id="compactmode")
	label(for="compactmode")
		=_("Compact mode")
	
	input.darkmode(type="checkbox", name="darkmode", id="darkmode")
	label(for="darkmode")
		=_("Dark mode")
