.top-bar.markdown-tips
	.title
		span=_('Invite new members')
.container.invite-to-room
	.form-content
	ul.invite-list
	button.button.btn-invite.btn-icon.btn-primary(type="submit", name="submit")
		i.icon.fa.fa-user-plus
		| Invite members