<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Content editable example</title>
    <style>
      body {
        font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
      }
      *, *:before, *:after {
        box-sizing: border-box;
      }
      .history {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        bottom: 0;
      }
      .actions: {
        white-space: nowrap;
      }
    </style>
    <link rel="stylesheet" href="/dist/components.css"></link>
  </head>
  <body>
    <select onchange="eval(this.value)">
      <option value="">Select action</option>
      <option value="addMessage()">Add message</option>
      <option value="addManyMessages()">Add many messages</option>
      <option value="scrollToMessage()">Scroll to message</option>
      <option value="addMessage({state: 'pending'})">Add a pending message</option>
      <option value="addMessage({state: 'sent'})">Add a sent message</option>
      <option value="addMessage({state: 'unsent'})">Add unsent message</option>
      <option value="addMessage({state: 'read'})">Add read message</option>
      <option value="addMessage({isSelected: true})">Add selected message</option>
      <option value="addMessageWithAttachment('pdf')">Add message with pdf attachment</option>
      <option value="addMessageWithUserLink()">Add message with user link</option>
      <option value="addMessageWithGrapeObjects()">Add message with grape objects</option>
      <option value="addMessageWithAttachment('uploadedImage')">Add message with uploaded image attachment</option>
      <option value="addActivityMessage()">Add activity message</option>
    </select>
    </div>
    <div class="history"></div>
    <script src="/dist/app.js"></script>
    <script src="/webpack-dev-server.js"></script>
  </body>
</html>
