// ****
//
// Footer with Textarea
//
// ****
.grape-input-wrapper
  width: 100%
  &.disabled
    pointer-events: none
    filter: grayscale(100%)
    opacity 0.4
  display: flex
  position: relative

grape-input
  flex: 1

.edit-message
  color: #666666
  font-size: 0.8em

// hints
.edit-message
  position: absolute
  top: -20px
  left: 0px
  background: linear-gradient(#FBFBFB, #F7F7F7);
  border: solid 1px #E5E5E5
  border-radius: 3px
  padding: 2px 12px 1px 12px
  transition: opacity 0.2s ease-out, top 0.2s ease-out
  opacity: 1
  will-change: opacity, top
  span
    border-radius: 3px
    border: 1px solid #CCCCCC
    padding: 1px 3px
    margin: 0 2px
    color: #666666
    background: #FBFBFB

// Toggle for edit message input
.grape-input-wrapper .edit-message
  opacity: 0
  top: 0px
.grape-input-wrapper.editing-previous .edit-message
  opacity: 1
  top: -22px
