.top-bar.markdown-tips
    .title
        span=_('Invite people to your organization')
.container.org-invite
    form.invite-to-org
        textarea.input-invite(name="invite-users", placeholder="Enter one or more email addresses separated by a space.")
        button.button.btn-invite.btn-icon.btn-primary(type="submit", name="submit")
            i.icon.fa.fa-user-plus
            | Invite members
