.organizationpopover
	ul.popover-list
		li
			a(href='/accounts/organization/settings/', target='_self')
				i.fa.fa-cog
				=_('Organization Settings')
		li
			a(href='/accounts/organization/settings/members/', target='_self')
				i.fa.fa-user
				=_('Manage Members')
		li
			a(href='/services/list/', target='_self')
				i.fa.fa-link
				=_('Service Integrations')
		li.break-line
			a(href='/accounts/settings/', target='_self')
				i.fa.fa-cog
				=_('Account Settings')
		li
			a.preferences(href='#')
				i.fa.fa-eye
				=_('Preferences')
		li
			a(href='/accounts/settings/notifications/', target='_self')
				i.fa.fa-bell
				=_('Notification Settings')
		li.break-line
			a#Intercom(href='mailto:dbd2d8fc25c5583bad9c3fa7bafa0eba83c54631@incoming.intercom.io')
				i.fa.fa-bullhorn
				=_('Give Feedback')
		li
			a(href='#',onclick='ui.intro.start();window.analytics.track("Started Tutorial", {via: "user menu"});')
				i.fa.fa-life-saver
				=_('Tutorial')
		li
			a(href='/accounts/organization/dashboard/', target='_self')
				i.fa.fa-random
				=_('Switch Organizations')
		li
			a(href='/accounts/logout/', target='_self')
				i.fa.fa-sign-out
				=_('Sign Out')
