.roompopover.popover-left
	.inner-popover(style="box-shadow:0 1px 0px rgba(0,0,0,0.1); padding-bottom: 5px")
		h3
			=_('Manage rooms')
	.po-scroll-wrap
		ul
	.inner-popover.last
		button.button.new.btn-primary
			=_('Create new chatroom')