.roompopover.popover-left
	.inner-popover(style="box-shadow:0 1px 0px rgba(0,0,0,0.1); padding-bottom: 5px")
		h3
			=_('Manage rooms')
	div.manager-navigation
		a.rooms-to-join(class=(tabSelection === 'unjoined' ? 'selected' : ''))= _("Rooms to join")
		a.joined-rooms(class=(tabSelection === 'joined' ? 'selected' : ''))= _("Joined rooms")
		a.new-room(class=(tabSelection === 'creation' ? 'selected' : ''))= _("New room")
	.po-scroll-wrap(class=(tabSelection === 'creation' ? 'hidden' : ''))
		ul
	if (tabSelection === 'creation')
		form.create-room-form
			.inner-popover
				.formrow
					h4
						=_("Room name")
					input(type="text", id="newroom-name", placeholder="Enter name ...")
				.mar-t20
					h4.mar-b20
						=_('Room type')
					input(type="radio", id="public", name="is_public", value="true", checked)
					label.radio-label(for="public")
						=_("Public room")
						span.radio-label-subline
							=_("A public room that everybody can see and join.")
					input(type="radio", id="private", name="is_public", value="false")
					label.radio-label(for="private")
						=_("Private room")
						span.radio-label-subline
							=_("A private room that only invited users can see and join.")
			.inner-popover.last
				input.button.back(type="button", value=_("Cancel"))
				input.button.create.btn-primary(type="submit", name="submit", value=_("Create"))