h3=_('Create new chatroom')
form.create-room-form
	.formrow
		input(type="text", id="newroom-name", placeholder="Enter name ...")
	input.button(type="reset", value=_('Cancel'))
	input.button.create(type="submit", name="submit", value=_('Create'))