.input-wrapper
	img.image(src="http://localhost:9000/static/images/avatar.gif") 
	.autocomplete-wrapper
		.autocomplete
			.Textcomplete-headline=_('Autocomplete')
	.messageInput-wrapper
		textarea.messageInput(disabled, autofocus)