.input-wrapper(id='intro-step1')
	.edit-message
		=_('Hit ')
		span=_('ESC')
		=_(' to cancel editing.')
	img.image(src="#{user.avatar}",width="36",alt="#{user.username}")
	.autocomplete-wrapper
	.messageInput-wrapper
		div.messageInput(disabled, autofocus, contenteditable="true")
		.uploader
	.messageInput-subline
		.md-info
			a.markdown-tips
				=_('You can use ChatGrape ')
				strong=_('Markdown')
				=_(' to format your text')
