.input-wrapper(id='intro-step1')
	.edit-message
		=_('Hit ')
		span=_('ESC')
		=_(' to cancel editing.')
	img.image(src="#{user.avatar}",width="36",alt="#{user.username}")
	.autocomplete-wrapper
	.messageInput-wrapper
		div.messageInput(disabled, autofocus, contenteditable="true", data-ph="Enter a message ..")
		.info-markdown.markdown-tips
			i.fa.fa-question-circle
		.uploader
