
.chatline
	span.user= user.username
	.content
		time.time= strftime('%H:%M:%S', time)
		span.text= text

// TODO: rework according to design
	.readers
		for reader in readers
			.reader(class="colors-" + reader.num)= reader.username
