
.chatline
	.meta(class="colors-" + user.num)
		span.time (#{strftime('%H:%M:%S', time)})
		span.user  #{user.username}: 
	pre.text= text
	.readers
		for reader in readers
			.reader(class="colors-" + reader.num)= reader.username
