.input-wrapper(id='intro-step6')
	.edit-message
		=_('Hit ')
		span=_('ESC')
		=_(' to cancel editing.')
	img.image(src="#{user.avatar}",width="36",alt="#{user.username}")
	.autocomplete-wrapper
		.autocomplete
			//-.Textcomplete-headline=_('Autocomplete')
			//- .Textcomplete-headline
			//- 	i.fa.fa-search
			//- 	|  Autocomplete
	.messageInput-wrapper
		div.messageInput(disabled, autofocus, contenteditable="true")
		.uploader
	.messageInput-subline
		.md-info
			a.markdown-tips
				=_('You can use ChatGrape ')
				strong=_('Markdown')
				=_(' to format your text')
