
.chatline
	.user= user.username
	time.time(datetime=time.toISOString())= strftime('%H:%M:%S', time)
	.text= text

//- TODO: rework according to design
	.readers
		for reader in readers
			.reader(class="colors-" + reader.num)= reader.username
