.input-wrapper
	img.image(src="#{user.avatar}",width="20",alt="#{user.username}")
	.autocomplete-wrapper
		.autocomplete
			//-.Textcomplete-headline=_('Autocomplete')
			.Textcomplete-headline Elemente mit IS
	.messageInput-wrapper
		textarea.messageInput(disabled, autofocus)
		.uploader
	.edit-message
		=_('Hit ESC to cancel editing.')
