.input-wrapper
	img.image(src="#{user.avatar}",width="20",alt="#{user.username}")
	.autocomplete-wrapper
		.autocomplete
			//-.Textcomplete-headline=_('Autocomplete')
			.Textcomplete-headline 
				| Elemente mit 
				strong IS
	.messageInput-wrapper
		div.messageInput(disabled, autofocus, contenteditable="true")
		.uploader
	.edit-message
		=_('Hit ESC to cancel editing.')
