.client
	header.header
		.org-info
			a.logo
				i.fa.fa-caret-down
				img(src='#{org.logo}',class="avatar-wrap",height='36',width='36',alt='#{org.name}')
				span.name=org.name
		.room-header
	.client-body
		nav.navigation
		div.chat-wrapper
			section.chat
		footer.footer