.client
	header.header
		.org-info
			//- a(href='https://chatgrape.com', target='_blank', class='powered-by') Powered by ChatGrape
			a.logo
				i.fa.fa-cog
				img(src='#{org.logo}',class="avatar-wrap",height='36',width='36',alt='#{org.name}')
				span.name=org.name
		.room-header
	.client-body
		nav.navigation
		div.chat-wrapper
			section.chat
		footer.footer
