.client
	header.client-header
		.client-info
			.logo one<em>team</em>
			.userinfo
		.client-room-info

	.client-body
		nav.navigation
		section.chat
			.chathistory

	footer.client-footer
		.input-wrapper
			textarea.input(autofocus)

