.client
	header.client-header
		.client-info
			.logo one<em>team</em>
			.userinfo
		.client-room-info
			h1.roomname Room
			span.usersonline
			input.search(type="search", placeholder="search for content, documents, appointments, …")

	.client-body
		nav.navigation
		section.chat
			.chathistory

	footer.client-footer
		.input-wrapper
			textarea.input(autofocus)
