form.invite-to-room
	textarea.input-invite(name="invite-users", placeholder="Enter names or email addresses ...")
	.autocomplete-wrapper
		.autocomplete
	button.button.btn-invite.btn-icon(type="submit", name="submit")
		i.icon.fa.fa-envelope
		| Invite members