form.invite-to-room
	textarea.input-invite(name="invite-users", placeholder="Enter names or email addresses")
	button.button.btn-invite(type="submit", name="submit")
		=_('Invite asd to ')
		= room.name
		i.icon.fa.fa-envelope
	.autocomplete-wrapper
		.autocomplete