form.invite-to-room
	button.button.btn-invite.btn-icon(type="submit", name="submit")
		i.icon.fa.fa-envelope
	div
		textarea.input-invite(name="invite-users", placeholder="Names or Email")
		.autocomplete-wrapper
			.autocomplete