.itemlist
	h2.labels
		span.nav-title=_('Labels')
		button.additem.nav-button.button-inset=_('add label')
	ul.nav-list.labels
		each label in items
			li.item(data-id=label.id, key=label.id)
				.label
					= label.name
					i.fa(class=["fa-" + label.icon])
