div
	if messages.length
		ul.alerts
			each message in messages
				li(class=message.level)
					if message.type == 'notifications reminder'
						=_('Hey there! Please ')
						a.enable_notifications #{_('enable desktop notifications')}
						=_(', so your team members can reach you on ChatGrape.')
						button.button.enable_notifications #{_('Enable desktop notifications')}
					else if message.type == 'connection lost'
						=_('Lost connection to the server - trying to reconnect. You can also try to ')
						a(href="#", onClick="window.location.reload()") #{_('reload.')}
					else if message.type == 'reconnected'
						=_('Reconnected successfully')
					else if message.type == 'room deleted'
						=_('Room ') + message.options.room + _(' was successfully deleted.')
					else
						message.type
