nav.navigation
	h2.nav-title
		=_('Rooms')
		button.addroom.nav-button.button-inset=_('add room')
	ul.nav-list.rooms
	h2.nav-title
		=_('Messages')
		button.addpm.nav-button.button-inset=_('new message')
	ul.nav-list.pms
	h2.nav-title
		=_('Labels')
		button.additem.nav-button.button-inset=_('add label')
	ul.nav-list.labels
