.pmpopover
	h3
		=_('New message to')
		span.close ×
	ul
		each user in items
			li.item.user(data-id=user.id, key=user.id)
				.avatar-wrap
					// FIXME: use real avatar image
					if true == true
						span.online
					else
						span.offline
					img(src="#",width="20",alt="")
					.avatar-status(class=(true == true ? 'online' : 'offline'))
				span.name=user.username

