.roompopover
	h3
		=_('All chat rooms')
		span.close ×
	ul
	button.button.new
		=_('create new chat room')
		i.icon.fa.fa-plus-circle
	form.newroom
		.formrow
			label.text(for="newroom-name")=_('Name')
			input(type="text", id="newroom-name")
		.formrow
			h4=_('Visibility')
			label.radio
				input(type="radio", name="newroom-visibility", value="public", checked)
				=_('Public')
			label.radio
				input(type="radio", name="newroom-visibility", value="private")
				=_('Private')
		input.button(type="reset", value=_('Cancel'))
		input.button.create(type="submit", name="submit", value=_('Create'))