.roommemberspopover
	h4=_('Members in this room')
	span.close ×
	ul
		li.item.user
			.avatar-wrap
				span.online
				img(src="/static/images/avatar.gif", width="20", alt="")
				.avatar-status.online
			span.name Tobias Seiler
		li.item.user
			.avatar-wrap
				span.online
				img(src="/static/images/avatar.gif", width="20", alt="")
				.avatar-status.online
			span.name User-13
		li.item.user
			.avatar-wrap
				span.online
				img(src="/static/images/avatar.gif", width="20", alt="")
				.avatar-status.online
			span.name Felix Häusler
		li.item.user
			.avatar-wrap
				span.online
				img(src="/static/images/avatar.gif", width="20", alt="")
				.avatar-status.online
			span.name admin
		li.item.user
			.avatar-wrap
				span.online
				img(src="/static/images/avatar.gif", width="20", alt="")
				.avatar-status.online
			span.name User-4
