ul.nav-list.rooms
	each room in items
		if room.joined
			li.item(class=(room == selected ? 'selected' : ''), data-id=room.id, key=room.id)
				a(href="/chat/" + room.slug)
					if room.private
						i.icon.fa.fa-lock
					else
						i.icon.fa.fa-comments
					if room.unread > 0
						span.unread=room.unread.toString()
					span.name=room.name
