/*______ Mid-Section with Navigation and Chatline ______*/
.client-body
	height: 100%
	padding-top: header-height
	.navigation
		width: client-navigation-width
		height: 100%
		overflow: auto
		float: left
	.chat-wrapper
		position: relative
		background: chat-background
		overflow: auto
		height: 100%
		padding: 0 0 footer-height 0
		.chat
			height: 100%
			position: relative
			padding-top: 14px
		.chatline
			@extend $clearfix
			margin: 10px 30px 14px 20px
			position: relative
			.avatar
				float: left
				position: relative
				font-weight: bold
				.image
					width: 36px
					float: left
					margin-right: (horizontal-space / 2)
					border-radius: 50%
				&::after
					content: ""
					position: absolute
					right: 0
					top: 14px
					border-right: main-border-radius solid white
					border-top: main-border-radius solid transparent
					border-bottom: main-border-radius solid transparent
			.content
				@extend $clearfix
				padding: 10px 10px
				overflow: hidden
				background: white
				border-radius: main-border-radius
				.author
					font-weight: bold
					margin-bottom: 6px
				.textline
					@extend $clearfix
					&:hover > .edit
						display: block
					.edit
						@extend $hoverable
						float: left
						display: none
						color: gainsboro-light
						.btn-edit
							margin-left: 6px
							&:hover
								color: gainsboro-dark
						.btn-delete
							margin-left: 4px
							&:hover
								color: bittersweet-dark
					time
						@extend $small-font-size
						text-transform: uppercase
						float: right
						color: gainsboro-dark
					.text
						padding: 0
						margin-bottom: 3px
						a 
							color: grape-light
							text-decoration: none
							&:hover
								color: lighten(grape-light, 25)
								text-decoration: underline
					.img-atm
						img
							max-width: 280px
							max-height: 200px
					.time
						@extend $clearfix
						@extend $small-font-size
						text-transform: uppercase
						float: right
						color: gainsboro-dark
					.text
						float: left
						padding: 0
						margin-bottom: 3px
.date-separator
	text-align: center
	margin: 0px 50px
	background: #ddd
	padding: 5px
	border-radius: 5px
.newmessage-separator
	text-align: center
	border-bottom: 1px solid red
	height: 10px
	margin: 0px 50px 20px
	span
		background: chat-background
		padding: 0px 5px
