//SIDEBAR

body.client-style-compact.user-title-enabled
	.message-group
		.message-content
			min-height: 63px
	.messageinfo
		.author-title
			display: inline-block !important
			overflow: hidden
			text-overflow: ellipsis
			line-height: 1.2
			white-space: nowrap
			max-width: 125px
body.client-style-compact
	.right-sidebar
		height: calc(100% - 43px)


	.message-group
		margin: 0 !important
		padding: 5px 0 5px 160px !important
		border-bottom: 1px solid #f0f0f0
		&::after
			content: ""
			position: absolute
			top: 0
			left: 0
			bottom: 0
			width: 145px
			background: #fff
		.avatar
			display: none
		.message-inner-wrap
			position: relative
		.message-content
			margin-left: 0
			min-height: 28px
			display: block
		.message
			border: none
			box-shadow: none
			background: none
			margin: 0 0 0 0 !important
			padding: 5px 20px 5px 15px !important
			border-radius: 0
			position: inherit !important
			display: block
			@extend $clearfix
			&.first:after
			&.activity:after
				display: none
			&.requested
				background-color: rgba(201, 255, 174, 0.53) !important
		.outertime
			position: relative
			right: inherit
			left: inherit
			float: right
			display: block !important
			width: 80px
			visibility: visible
			padding: 0
			line-height: inherit
			@extend $normal-font-size
			color: #aaa !important
			&:hover
				.different-timezone
					opacity: 1
		.edit
			left: inherit
			right: 90px
			padding: 1px 3px
			background: #fff
		&.creator
			background-color: #EEF6FF
			border-bottom-color: #DCE5F0
			.message
				background: none
		.messageinfo
			width: 190px
			position: absolute
			left: 0
			line-height: inherit
			text-align: right
			font-size: 1.1em
			padding-top: 4px
			span,
			.timelink
				margin-left: 0
				display: none
		.text
			margin-right: 85px
		.message-author
			@extend $ellipsis;
			font-weight: bold
			color: grape-typo
		.time
			display: inline
			.fa-globe
				margin-left: 5px
		.different-timezone
			position: absolute
			top: 0
			background: #fff
			z-index: 55
			border-radius: 4px
			padding: 5px 3px
			left: -14px
			@extend $small-font-size
			opacity: 0
			width: 100px
			text-align: center
		.vertical-line
			width: 3px
			left: 158px !important
			top: 0
			bottom: 0
			border-radius: 0

		&.attachments,
		&.service
			.message
				display: block
	.date-separator,
	.newmessage-separator
		margin: 0
		padding: 0
		height: inherit
		&::before
			display: none
		span
			display: block
			border-radius: 0
			border: none
			background: #D4D7DB
			padding: 2px 5px
	.newmessage-separator
		span
			background: lighten(grass-light, 15)
			color: grass-dark

	.search-form
		.search
			min-height: 28px
		.search-icon,
		.close
			line-height: 28px

	.nav-style-basic
		.client-body
			margin-left: inherit !important
		.nav-inner
			display: block
		.nav-collapsed
			display: none

	&.nav-style-collapsed
		.client-body
			margin-left: 64px !important
		.nav-inner
			display: none
		.nav-collapsed
			display: block
			width: 64px !important
		.auto-expand
			&:hover
				width: 200px !important
				max-width: 100% !important
				.channel-name
					opacity: 1.0 !important
					padding-left: 4px !important
					transition-delay: 0.2s !important
				.fl-notification
					margin-top: 7px !important
					padding: 1px 4px 2px 4px !important
