/*
========================================
============== FRAMEWORK ===============
========================================
*/

/*______ GENERAL ______*/


html, body {
	margin: 0;
	padding: 0;
	height: 100%
	overflow: hidden
}

* 
	box-sizing border-box


/*______ CLIENT STYLING ______*/

.client
	position: relative
	background: navigation-background
	height: 100%
	overflow: hidden
	.header, .footer
		position: fixed
		left: 0
		right: 0
	.header
		top: 0
		height: header-height
	.footer
		bottom: 0
		height: footer-height


/*______ Header Info about the Room you are in ______*/
.client-room-info
	background: room-header-background
	overflow: hidden
	height: header-height
	border-bottom: 3px solid client-border-color
	padding: (header-height / 4) (horizontal-space * 2)
	h1
		margin: 0
		float: left
		width: 150px
	.search
		float: right
		height: 22px
		width: 380px

.client-room-info .user:not(.typing) .fa
	display: none

.search-submit
	display: none;

/*______ Mid-Section with Navigation and Chatline ______*/
.client-body
	height: 100%
	padding-bottom: footer-height
	padding-top: header-height
	.navigation
		width: client-navigation-width
		height: 100%
		overflow: auto
		float: left
	.chat
		background: chat-background
		overflow: auto
		height: 100%
		padding: 10px 0px