/*______ Footer with Textarea ______*/
.footer
	left: 0
	bottom: 0
	position: fixed
	width: 100%
	height: footer-height
	margin-left: client-navigation-width
	background: chat-background
	padding: 4px 0 0 0
	background: linear-gradient(top, chat-background, silver-dark)
	.input-wrapper
		padding-left: 20px
		margin-right: client-navigation-width + 30px
		.image
			@extend $clearfix
			width: 36px
			float: left
			margin-right: (horizontal-space / 2)
			border-radius: 50%
			&::after
				content: ""
				position: absolute
				right: 0
				top: 14px
				border-right: 6px solid white
				border-top: 6px solid transparent
				border-bottom: 6px solid transparent
		.messageInput-wrapper
			@extend $clearfix
			box-sizing: border-box
			overflow: hidden
			&::after
				content: ""
				position: absolute
				right: 0
				top: 14px
				border-right: 6px solid white
				border-top: 6px solid transparent
				border-bottom: 6px solid transparent
			.messageInput
				height: 34px
				border: 1px solid gainsboro-light
				border-radius: main-border-radius
				outline: none
				font-size: 15px
				padding: 8px 10px 8px 10px
				width: 100%
.autocomplete-wrapper
	position: relative
	margin-left: 46px
	.autocomplete
		bottom: 0px
		width: 100%
		background: white
		padding: 0
		border: 1px solid gainsboro-light
		&.Textcomplete-hidden
			display: none
		.Textcomplete-headline
			background: silver-dark
			@extend $small-font-size
			padding: 4px 8px
			text-transform: uppercase
		.Textcomplete-option
			padding: 4px 10px
		.Textcomplete-highlighted
			background: grape-dark
			color: white