/*______ Footer with Textarea ______*/
.footer
	border-top: 3px solid client-border-color
	margin-left: client-navigation-width
	background: client-input-background
	padding: (vertical-space / 2) (horizontal-space / 2)
	.input-wrapper
		.input
			width: 100%
