// ****
//
// Header Info about the Room you are in
//
// ****
.room-header
	position: fixed
	left: client-navigation-width
	right: 0
	top: 0
	height: header-height
	z-index: 30
	background: room-header-background
	overflow: hidden
	height: header-height
	padding: 11px 30px 11px 20px
	box-shadow: 0px 3px 2px 0px rgba(grape-dark, 0.4)
	@extend $clearfix
	.room-info-wrap, .search-form
		max-width: 100%
		overflow: hidden
		//transition: all 200ms linear
	.room-info-wrap
		display: block
		white-space: nowrap
		overflow: hidden
		padding-top: 3px
		.room-menu-wrap
			@extend $hoverable
		h1.room-name
			@extend $bigger-font-size
			float: left
			margin: 0
			padding-right: 8px
			color: white
			text-overflow: ellipsis
			white-space: nowrap
			overflow: hidden
			height: 30px
			line-height: 30px
			max-width: 220px
			@media (max-width: 1024px)
				max-width: 200px
			@media (max-width: 768px)
				max-width: 180px
		.horizontal-user-list
			display: inline-block
			float: left
			margin-top: 9px
			padding: 0
			overflow-x: visible
			white-space: nowrap
			padding-left: 12px
			li
				display: inline-block
				list-style-type: none
				margin-right: 2px
				padding-bottom: 4px
		span.user-count
		span.remaining-users
			float: left
			color: gainsboro-dark
			line-height: 34px
			padding-left: 2px
			&:hover
				color: white
		span.user-count
			display: none
			@media (max-width: 1024px)
				display: inline-block
		.horizontal-user-list
		span.remaining-users
			display: none
			@media (min-width: 1024px)
				display: inline-block
	.user-menu-wrap
		@extend $clearfix
		@extend $hoverable
		float: right
		margin: 0 0 0 20px
		display: table-cell
		vertical-align: middle
		&:hover
			.fa
				color: white
		.fa
			margin: 10px 0 0 5px
			color: gainsboro-dark
		.avatar-wrap
			display: inline
			margin-right: 6px
		.online
		.offline
			top: -6px
			width: 10px
			height: 10px
		.user-name
			color: white
			line-height: 36px