
.button-inset
	color: #888291
	font-size: basic-font-size * 0.9
	border: none
	background: button-color
	padding: 2px 5px
	border-radius: 5px
	box-shadow: 0px 1px 0px lighten(button-color, 15%), 0px 1px 0px darken(button-color, 15%) inset

.navigation
	color: #888291
	font-family: "Open Sans"
	font-size: basic-font-size
	padding: (vertical-space) (horizontal-space)

.nav-button
	float: right

.nav-title
	text-transform: uppercase

.nav-list .item
	margin: 5px 0px
	.fa, .name, .unread
		cursor: pointer
	.fa
		display: inline-block
		width: 20px
		margin-right: 5px
		text-align: center
	&.selected
		.fa
			color: #7b477b
		.name
			color: white
	.unread
		display: inline-block
		margin-left: 5px
		font-size: 12px
		line-height: 13px
		min-width: 13px
		padding: 0px 3px
		border-radius: 20px
		text-align: center
		background: #7b477b
		color: white

//.nav-lists
//	padding: (vertical-space * 2) (horizontal-space * 2)
//	i.fa 
//		padding: 5px
//	.rooms li
//		cursor: pointer
//		color: #7e8183
//	.rooms li:not(.joined)
//		color: darken(nav_text, 50%)

//	.rooms .leave
//		cursor: pointer
//		font-style: normal
//		float: right
//		padding: 5px 8px;
//		border-radius: global-border-radius
//		&:hover
//			background: #fff
//	.rooms .selected
//		font-weight: bold
//		background: #65CAF1
//		color: #0F6C8A
//		margin-left: (horizontal-space * -2)
//		padding-left: (horizontal-space * 2)
//		border-radius: 0 global-border-radius global-border-radius 0

