
.button-inset
	color: #888291
	font-size: basic-font-size * 0.9
	border: none
	background: button-color
	padding: 2px 5px
	border-radius: 5px
	box-shadow: 0px 1px 0px lighten(button-color, 15%), 0px 1px 0px darken(button-color, 15%) inset

.navigation
	color: #888291
	font-family: "Open Sans"
	font-size: basic-font-size
	padding: (vertical-space) (horizontal-space)

.navigation .itemlist
	margin-bottom: 10px

.nav-button
	float: right

.nav-title
	text-transform: uppercase

.nav-list .item
	margin: 5px 0px
.nav-list
	.icon, .name, .unread, .avatar
		cursor: pointer
	.icon, .avatar
		display: inline-block
		width: 20px
		margin-right: 5px
		text-align: center
	&.selected
		.icon
			color: #7b477b
		.name
			color: white
	.unread
		display: inline-block
		margin-left: 5px
		font-size: 12px
		line-height: 13px
		min-width: 13px
		padding: 0px 3px
		border-radius: 20px
		text-align: center
		background: #7b477b
		color: white

