// ****
//
// Right sidebar
//
// ****
.right-sidebar-content
    width: 100%
    height: 100%
    .right-sidebar-header
        font-size: 1em
        margin-top: 20px
        margin-left: 22px
        color: #4A324B
        .mdi-account-multiple
            font-size: 1em
            transform: translateY(1px)
        .title
            margin-left: 14px
            cursor: default

.right-sidebar-content a
    text-decoration: none !important

.right-sidebar-content .online
    border: 1px solid #F2F2F2

.right-sidebar-content .offline
    border: 1px solid #F2F2F2

.right-sidebar-item
    margin-left: 4px
    color: #666666
    font-size: 1.1em

.right-sidebar-item:hover
    color: #4A324B
    text-decoration: none !important

.right-sidebar-item.inactive
    cursor: default
    &:hover
        color: #666666