// ****
//
// Right sidebar
//
// ****
.right-sidebar-wrapper
    height: 100%

.right-sidebar-room-info
    width: 100%
    height: 93%
    display: none

.invite-members
    width: 100px
    margin: 0 auto
    display: block
    cursor: pointer

.right-sidebar-tags
    width: 100%
    height: 100%

.right-sidebar-header
    font-size: 1.6em
    margin-top: 30px
    margin-left: 18px
    color: #4A324B
    .mdi-account-multiple
        font-size: 1em
        transform: translateY(1px)
    .mdi-attachment
        font-size: 1.05em
    .title
        margin-left: 10px
        cursor: default
    &:first-of-type
        margin-top: 20px

.right-sidebar-content a
    text-decoration: none !important

.right-sidebar-content .online
    border: 1px solid #F2F2F2

.right-sidebar-content .offline
    border: 1px solid #F2F2F2

.right-sidebar-room-wrap
    height: 100%

.file-list
    .no-uploads
        width: 87%
        display: block
        position: relative
        margin-left: auto
        margin-right: auto
        margin-top: 8px
        padding: 16px
        border: dashed 1px #DDDDDD
        border-radius: 4px
        text-align: center
        .mdi-book
            font-size: 4em
            display: block
            color: #DDDDDD
        span
            font-size: 0.9em
            line-height: 1.2em
            display: block
            margin-top: 6px
            color: #BBBBBB
            cursor: default

.item.user
    clear: both
    width: 100%
    position: relative
    .func-inner-wrap
        padding-left: 16px
        padding-right: 16px
        .fa
            margin-right: 10px
            @extend $big-font-size
    a
        width: 100%
        float: left
        &:hover
            color: #333333
            background-color: #E5E5E5
    i.btn-delete
        visibility: hidden
        float: right
        position: absolute
        right: 12px
        top: 8px
        font-size: 1.4em
        display: inline-block
        color: gainsboro-dark
        cursor: pointer
        z-index: 50
    &:hover
        i.btn-delete
            visibility: visible
            display: inline-block
            color: #4A324B
    .right-sidebar-item
        color: #666666 !important
        font-size: 1em
        padding-bottom: 6px
        float: left
        display: inline-block
        .avatar-wrap
            float: left
            position: relative
            display: inline-block
            margin-left: 16px
            margin-top: 6px
            border: solid 1px #CCCCCC
            border-radius: 50%
            .avatar-status
                width: 6px
                height: 6px
                position: absolute
                right: 0px
                bottom: 0px
        span
            display: inline-block
            margin-left: 10px
            margin-top: 7px
        .inactive
            cursor: default
            &:hover
                color: #666666
        &:hover
            color: #4A324B !important
            text-decoration: none !important

.no-tags
    width: 87%
    display: block
    position: relative
    margin-left: auto
    margin-right: auto
    margin-top: 16px
    padding: 16px
    border: dashed 1px #DDDDDD
    border-radius: 4px
    text-align: center
    i
        font-size: 6em
        display: block
        color: #CCCCCC
    span
        font-size: 1em
        display: block
        margin-top: 12px
        color: #AAAAAA
        cursor: default

.hashtags
    display: none
