/*______ Top left Info about the product and Organisation ______*/
.organization-info
	float: left
	width: client-navigation-width
	height: header-height
	background: organisation-background
	color: sidebar-text-color
	.info-poweredby
	.info-organizationlogo
		padding: 6px 20px
	.info-poweredby
		background: poweredby-background
		height: (header-height / 3)
		text-transform: uppercase
		font-size: 10px
	.info-organizationlogo
		background: clientlogo-background
		height: (header-height / 3) * 2

/*______ Left navigation ______*/
.navigation
	color: sidebar-text-color
	background: jet
	font-size: sidebar-label-font-size
	padding: 40px 0 0px 0px

.nav-button
	float: right

.nav-title
	text-transform: uppercase
	font-size: sidebar-title-font-size
	font-weight: bold
	padding-left: 20px

.nav-list
	margin-top: 6px
	margin-bottom: 18px
	.item
		@extend .clearfix
		padding: 0px
		a
			display: block
			padding: 7px 15px 3px 20px
			text-decoration: none
			color: sidebar-text-color
			&:hover
				color: sidebar-button-hover-text-color
		&.selected
			a
				color: highlight-text-color
				font-weight: bold
				background: highlight-color
				.unread
					background: highlight-text-color
					color: highlight-color
		.icon
		.avatar-wrap
		.unread
			float: left
			text-align: center
		.icon
		.avatar-wrap
			margin-right: 5px
			width: 20px
		.unread
			float: right
			margin: -4px 0 0 7px
			font-size: 10px
			font-weight: bold
			line-height: 20px
			min-width: 20px
			padding: 0px 3px
			border-radius: 50%
			text-align: center
			background: highlight-color
			color: highlight-text-color
		.name
			height: 1.25em
			text-overflow: ellipsis 
			white-space: nowrap
			overflow: hidden
			display: block