// ****
//
// Left navigation
//
// ****
.navigation
	@extend $normal-font-size
	height: 100vh
	overflow: auto
	position: absolute
	top: 0
	left: 0
	color: gainsboro-dark
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden
	.navigation
		padding: 0px
		background: #F3F5F8
		box-shadow: -1px 0 0px rgba(0,0,0,0.1) inset
	.nav-wrap-out
		margin-top: 64px
		height: 100vh
		overflow-y: auto
.nav-outer
	min-width: 200px
	width: client-navigation-width
	max-width: 38.2%
.nav-inner
	width: 100%

.nav-style-collapsed
	.client-body
		margin-left: 86px !important
	.nav-inner
		display: none
	.nav-collapsed
		display: block

.nav-style-basic
	.client-body
		margin-left: inherit
	.nav-inner
		display: block
	.nav-collapsed
		display: none

// ****
//
// Top left Info about the product and Organisation
//
// ****

.org-area-bg
	height: 150px
	display: block
	text-align: center
	background: #3C2745
	transition: height header-animation-duration
	transition-timing-function: grape-bezier
	.bg-overlay
		display: none
.org-info
	background: #3C2745
	color: white
	width: 100%
	height: header-height
	display: table
	position: absolute
	top: 0px
	left: 0px
	.org-topbar
		width: 100%
		position: absolute
		left: 0px
		top: 0px
		bottom: 0
		z-index: 60
		.settings-icon
			position: absolute
			top: 50%
			right: 20px
			font-size: 20px
			transform: translateY(-50%)
			color: rgba(255, 255, 255, 0.5)
			transition: color 0.3s
			cursor: pointer
			&:hover
				color: rgba(255, 255, 255, 1)
		.toggle-sidebar-icon
			display: none
			position: absolute
			left: 9px
			top: 33px
			text-align: center
			font-size: 18px
			color: rgba(255, 255, 255, 0.6)
			text-shadow: 0px 0px 5px rgba(0, 0, 0, 1)
			transform: rotate(-90deg)
			-webkit-transition: color 0.3s
			transition: color 0.3s
			cursor: pointer
			&:hover
				color: rgba(255, 255, 255, 1)
	.org-logo-name
		display: table-cell
		position: relative
		vertical-align: middle
		padding: 2px 50px 0 60px
		overflow: hidden
		line-height: 1.2
		color: white
		img
			position: absolute
			left: 20px
			top: 50%
			height: 32px
			width: 32px
			transform: translateY(-50%)
			border-radius: 50%
		.org-name
			display: block
			font-size: 17px
			opacity: 1
		.org-tagline
			display: block
			font-size: 13px
			opacity: 0.5
		i
			margin-left: 8px
			@extend $small-font-size

	a:hover
		text-decoration: none
		i,
		.name
			opacity: 0.7
			text-decoration: none


// ****
//
// The room list of the organisation
//
// ****

.nav-tabs
	background: chat-background
	border-bottom: 1px solid silver-dark
	border-right: 1px solid silver-dark
	width: 100%
	@extend $clearfix
	> div
		float: left
		width: 44%
		a
			display: block
			width: 100%
			height: 42px
			text-align: center
			line-height: 45px
			color: gainsboro-dark
			text-decoration: none
			&:hover
				background: navigation-background
				color: darken(gainsboro-dark, 10)
	.nav-tab-search
		width: 12%
		a
			color: gainsboro-dark
			border-left: 1px dashed silver-dark
	.selected
		a
			border-bottom: 3px solid cherry
			color: cherry !important
			&:hover
				background: inherit
.room-list
	padding: 30px 0 0 0
	.rooms
		height: 100%


.nav-title-wrap,
a.nav-title-wrap
	@extend $clearfix
	display: block
	color: sidebar-group-title
	padding-bottom: 2px
	text-decoration: none
	.nav-title
		color: #898E96
		text-transform: uppercase
		font-size: 0.925em;
		padding-left: 20px
		overflow: hidden
		float: left
		transition: color 1s
	&:hover
		color: sidebar-group-title
		text-decoration: none
	i
		margin-left: 3px
		margin-top: 3px
	&.manage-rooms
		cursor: default
	&.addpm
		cursor: pointer
		transition: color 1s
		&:hover
			color: sidebar-group-title-highlight !important
			.nav-title
				color: sidebar-group-title-highlight !important

a.nav-title-wrap
	display: inline-block
	float: left
	width: 100%

.nav-button
	position: absolute
	right: 0
	margin: 7px 10px 0 0
	border: 1px solid
	border-radius: 50%
	width: 17px
	height: 17px
	text-align: center
	line-height: 15px
	cursor: pointer
	&:hover
		color: grape-typo

// Sidebar Link Styling
.nav-wrap-out
	.channel-item
		clear: both
		padding: 0px
		padding-right: 8px
		border-radius: 0 100px 100px 0
		&.taken
			background-color: #785278
			.channel-name
				color: white
			&:hover
				background-color: #785278
				.channel-name
					color: white
		a
			display: block
			width: 100%
			height: 100%
			text-decoration: none
		.item-inner-wrp
			padding: 10px 0 9px
		.avatar-wrap
		.room-face
			float: left
			display: inline-block
			text-align: center
			width: 32px
			height: 32px
			margin-left: 20px
			margin-top: -7px
			line-height: 32px
			border-radius: 32px
			background: grape-dark
			position: relative
			font-size: 1.1em
			color: white
			color: rgba(white, 0.9)
		.avatar-wrap
			background: rgba(0, 0, 0, 0) !important
			img
				width: 32px !important
				height: 32px
			.offline, .online
				border: solid 1px #F3F5F8
				width: 8px
				height: 8px
				bottom: 0px
				right: 0px
		.icon
			padding: 3px 0
		.room-icon
			position: absolute
			right: -6px
			bottom: -4px
			width: 14px
			height: 14px
			z-index: 12
			padding-left: 1px
			line-height: 14px
			text-align: center
			border-radius: 50%
			background: slate
			font-size: 8px
			color: white
		.channel-name
			white-space: nowrap
			overflow: hidden
			ellipsis()
			font-size: 1.1em
			left: 0px
			right: 0px
			padding-left: 10px
			padding-right: 6px
			color: #707782
		&:hover
			background: #D9DEE5
			.offline, .online
				border-color: #D9DEE5
		&.deleted
			.name
				color: gainsboro-dark
			.avatar-status
				background: gainsboro-dark
			span.user-deleted
				@extend $small-font-size
				text-transform: uppercase
				margin-left: 4px
		&.selected
			background: #8C448E
			color: white !important
			.channel-name
				color: white
			.offline, .online
				border-color: #a0284b
	.nav-list
		padding: 0 0 12px 0

.nav-list.rooms,
.nav-list.pms
	padding: 0 10px 0 0

.invite-list
	margin-bottom: 8px
	.channel-item
		border-radius: 4px
		margin-bottom: 3px
		&:hover
			background-color: #e5e5e5
		.avatar-wrap
			margin-top: -5px
		.channel-name
			color: grape-darkest

// ****
//
// The Private Message list
//
// ****
.pm-list
	padding: 30px 0 0
	margin-bottom: 40px
	.pms
		height: 100%

span.no-messages
	@extend $small-font-size
	padding-left: 20px
	display: block
	color: darken(gainsboro-dark, 10%)

.channel-name .author-title-icon
	margin-left: 10px

// ****
//
// The search bar to filter users from the Private Message List
//
// ****
.filter-pms
	background: navigation-background
	border: none
	border: 1px solid darken(navigation-background, 5)
	border-radius: 25px
	width: client-navigation-width
	padding: 8px 12px 8px 20px
	z-index: 14
	placeholder(color = gainsboro-dark)
	&:focus
		outline: none
		color: grape-typo

.collapse-logo
	left: -30% !important
	top: 2px
	width: 28px
	height: 28px

.collapse-name
	top: -36px
	margin-left: 36%
	margin-right: 2%
	font-size: 1.15em
	animation: fadein 2s

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
