/*______ Top left Info about the product and Organisation ______*/
.client-info
	float: left
	width: client-navigation-width
	height: header-height
	background: organisation-background
	color: sidebar-text-color
	.info-poweredby, .info-clientlogo
		padding: 6px 20px
	.info-poweredby
		background: poweredby-background
		height: (header-height / 3)
		text-transform: uppercase
		font-size: 10px
	.info-clientlogo
		background: clientlogo-background
		height: (header-height / 3) * 2

/*______ Left navigation ______*/
.navigation
	color: sidebar-text-color
	background: sidebar-background
	font-size: sidebar-label-font-size
	padding: 40px 15px 0px 20px

.navigation .itemlist
	margin-bottom: 18px

.nav-button
	float: right

.nav-title
	text-transform: uppercase
	font-size: sidebar-title-font-size
	font-weight: bold

.nav-list .item
	padding: 5px 0px
	&:hover
		color: sidebar-button-hover-text-color
	&.selected
		.icon
			color: highlight-color
		.name
			color: highlight-text-color
			font-weight: bold
.nav-list
	margin-top: 6px
	.icon, .name, .unread, .avatar
		cursor: pointer
	.icon, .avatar
		display: inline-block
		width: 15px
		margin-right: 8px
		text-align: center
	.unread
		display: inline-block
		margin-left: 7px
		font-size: 10px
		font-weight: bold
		line-height: 15px
		min-width: 15px
		padding: 0px 3px
		border-radius: 20px
		text-align: center
		background: highlight-color
		color: highlight-text-color

.button-inset
	font-size: sidebar-button-font-size
	font-weight: bold
	border: none
	background: darken(sidebar-background, 25%)
	padding: 3px 7px
	margin-top: -2px
	border-radius: main-border-radius-small
	box-shadow: 0px 1px 0px lighten(sidebar-background, 15%), 0px 1px 0px darken(sidebar-background, 35%) inset
	&:hover
		color: sidebar-button-hover-text-color
		background: sidebar-background