.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes glide {
  0%,100% {
    transform translateY(0px)
  }
  50% {
    transform translateY(8px)
  }
}

@keyframes plop {
  0 {
    opacity: 0
    transform: rotate(-20deg) scale(0.5) translateY(-8px);
  }
  75% {
    opacity: 1
    transform: rotate(10deg) scale(1.1) translateY(1px);
  }
  100% {
    opacity: 1
    transform: rotate(0deg) scale(1) translateY(0px);
  }
}