/*______ CLEARFIX ______*/
clearfix()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both
$clearfix
	clearfix()

/*______ HOVERABLE ______*/
$hoverable
	cursor: pointer

/*______ Functional LIST ______*/
$functional-list // this has to be the LI
	@extend $clearfix
	padding: 0px
	> a // If the List is one clickable Link
		display: block
		text-decoration: none
	&.selected
		> a 
			font-weight: bold
	.name
		text-overflow: ellipsis 
		white-space: nowrap
		overflow: hidden
		display: block
	.icon
	.avatar-wrap
	.unread
		text-align: center
	.icon
	.avatar-wrap
		float: left
		margin-right: 5px
		width: 20px
	.notification
	.toggle
		float: right
		margin-left: 5px
	.notification
		margin: -4px 0 0 5px
		font-size: 10px
		font-weight: bold
		line-height: 20px
		min-width: 20px
		padding: 0px 3px
		border-radius: 50%
		text-align: center
		background: highlight-color
		color: highlight-text-color

/*______ OVERLAY ______*/
$overlay // used for search - infos, etc.
	@extend $clearfix
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 9999
	background: #eeecef
	background: rgba(#eeecef,0.92)
