/*______ CLEARFIX ______*/

clearfix()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both

.clearfix
	clearfix()


/*______ USER INFO ______*/

.user-info 
	@extend .clearfix
	img
		float: left
		margin-right: (horizontal-space/2)
		border-radius: 50%
	div
		overflow: hidden


