/*______ CLEARFIX ______*/
clearfix()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both
$clearfix
	clearfix()

/*______ CENTERED ______*/
.centered
	text-align: center
/*______ HOVERABLE ______*/
$hoverable, $hoverable:hover
	cursor: pointer

/*______ Subtle Link ______*/
$subtle-link, $subtle-link a
	color: inherit
	text-decoration: none
	&:hover
		color: aqua-light
		text-decoration: underline
/*______ delete Link ______*/
$delete-link, $delete-link a
	color: bittersweet-dark
	text-decoration: none
	&:hover
		color: bittersweet-light
		text-decoration: underline

/*______ horizontal LIST ______*/
$horizontal-list
	@extend $clearfix
	li
		float:left
		margin-right: 8px
		&:last-of-type
			margin-right: 0

/*______ Ellipsis ______*/
$ellipsis
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden
	display: block


/*______ Functional LIST ______*/

$functional-list // this has to be the LI
	@extend $clearfix
	padding: 0px
	> a // If the List is one clickable Link
		display: block
		text-decoration: none
		padding: 7px 10px 6px
		color: gainsboro-dark
		&:hover
			color: grape-typo
			background: silver-dark
	.icon
	.avatar-wrap
	.unread
	.room-face
		text-align: center
	.icon
	.avatar-wrap
	.room-face
		width: 24px
		height: 24px
		margin-right: 8px
		margin-top: -3px
		float: left
		line-height: 24px
	.icon
		padding: 3px 0
	.room-face
		border-radius: 4px
		background: grape-dark
		position: relative
		font-size: 11px
		color: white
		color: rgba(white, 0.9)
	.room-icon
		position: absolute
		right: -3px
		top: -3px
		width: 13px
		height: 13px
		z-index: 12
		line-height: 12px
		text-align: center
		border-radius: 50%
		background: grape-typo
		background: rgba(grape-typo, 0.9)
		font-size: 8px
		color: white
/*______ Avatar wrap ______*/
.avatar-wrap
	position: relative
	display: inline-block
	img
		float: left
		border-radius: 50%
		z-index: 2
	.online, .offline
		position: absolute
		right: 0
		bottom: 0px
		height: 8px
		z-index: 12
		border-radius: 50%
		border: 1px solid navigation-background
	.online
		background: grass-light
	.offline
		background: bittersweet-light
	div
		overflow: hidden
		margin-left: 4px
	.name
		@extend $big-font-size
		@extend $ellipsis
		margin-left: 5px
		height: 1.25em
		line-height: 1em


.fl-notification
.fl-mention
.toggle
	float: right
	margin-left: 5px
	font-family: roboto
.fl-notification
.fl-mention
	margin: -3px 0 0 5px
	font-size: 10px
	line-height: 16px
	min-width: 21px
	padding: 0px 3px
	border-radius: main-border-radius
	text-align: center
	border: none
.fl-notification
	border: 2px solid grass-light
	color: grass-light
.fl-mention
	border: 2px solid grass-dark
	color: grass-dark

/*______ OVERLAY ______*/
$overlay // used for search - infos, etc.
	@extend $clearfix
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 999
	background: white
	background: rgba(white, .98)
	padding: 17px 30px
	overflow: hidden
	overflow-y: auto


/*______ Invisible Class  ______*/
.invisible
	display: none

/*______ Placeholder  ______*/
placeholder(color = $input-color-placeholder) {
  &:-moz-placeholder            { color: color; } // Firefox 4-18
  &::-moz-placeholder           { color: color; } // Firefox 19+
  &:-ms-input-placeholder       { color: color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: color; } // Safari and Chrome
}


/*______ Margins  ______*/

.mar-t10
	margin-top: 10px
.mar-t20
	margin-top: 20px
.mar-t30
	margin-top: 30px
.mar-t40
	margin-top: 40px
.mar-b10
	margin-bottom: 10px
.mar-b20
	margin-bottom: 20px
.mar-b30
	margin-bottom: 30px
.mar-b40
	margin-bottom: 40px



@keyframes slidein {
	0% {
		opacity: 0.4;
		transform: translateY(-30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes overlayFlowIn {
	0% {
		opacity: 0
		background: rgba(aqua-dark, 0.75)
	}
	0% {
		opacity: 0.5
		background: rgba(grape-dark, 0.75)
	}
	100% {
		opacity: 1
		background:  rgba(0, 0, 0, 0.75)
	}
}



@keyframes hifromthebottom {
	0% {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		transform: scaleX(.96) translate3d(0, 20px, 0);
		opacity: 0
	}
	100% {
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		transform: scaleX(1) translate3d(0, 0, 0);
		opacity: 1
	}
}
@keyframes hifromthetop {
	0% {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		transform: scaleX(.96) translate3d(0, -20px, 0);
		opacity: 0
	}
	100% {
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		transform: scaleX(1) translate3d(0, 0, 0);
		opacity: 1
	}
}
@keyframes hifromthetopNoShadow {
	0% {
		transform: scaleX(.96) translate3d(0, -20px, 0);
		opacity: 0
	}
	100% {
		transform: scaleX(1) translate3d(0, 0, 0);
		opacity: 0.98
	}
}
@keyframes hifromthebottomNoShadow {
	0% {
		transform: scaleX(.96) translate3d(0, 20px, 0);
		opacity: 0
	}
	100% {
		transform: scaleX(1) translate3d(0, 0, 0);
		opacity: 1
	}
}

@keyframes hifromtheright {
	0% {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		transform: scaleX(.96) translate3d(20px, 0, 0);
		opacity: 0
	}
	100% {
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		transform: scaleX(1) translate3d(0, 0, 0);
		opacity: 1
	}
}
@keyframes hifromtheleft {
	0% {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		transform: scaleX(.96) translate3d(-20px, 0, 0);
		opacity: 0
	}
	100% {
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		transform: scaleX(1) translate3d(0, 0, 0);
		opacity: 1
	}
}
