
/**
 * TODO: lets put all the @font-face things here in case we don’t use external
 * components for that, like:
 * https://github.com/typefaces/
 * …
 */
html
	font-family: "Open Sans Light", Arial;

h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0
