/*
========================================
================ FONT BUILDING ================
========================================
*/

relative-font-size(sizeValue = 1.4, lineHeightValue = 1.8) // Kalkuliert relative Font Size zur absoluten Font-größe. Fallback für IE in absoluten PX zahlen
    font-size round((sizeValue * 14)) px
    font-size sizeValue rem
    line-height round((lineHeightValue * 14)) px
    line-height lineHeightValue rem

main-line-height = 21px

main-font-size = 13px

small-font-size = main-font-size * .75
big-font-size = main-font-size * 1.25
bigger-font-size = big-font-size * 1.25
biggest-font-size = bigger-font-size * 1.25

$small-font-size
    relative-font-size(.75, .875) // 11

$big-font-size
    relative-font-size(1.25, 1.5)

$bigger-font-size
    relative-font-size(1.6, 1.8)

$biggest-font-size
    relative-font-size(2, 2.2)

$normal-font-size
    relative-font-size(1, 1.5) // Important: Let's have 14px as basis for rem calculations.

h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0