/*
========================================
============= MEASUREMENTS =============
========================================
*/

/*______ MAIN MEASUREMENTS ______*/

horizontal-space = 20px
vertical-space = 20px

main-border-radius = 6px
main-border-radius-small = 4px

client-navigation-width = 260px
header-height = 75px
footer-height = 85px
client-header-padding = 40px

arrow-size = 10px

/*
========================================
================ FONT SIZES ================
========================================
*/

main-font-size = 15px
main-line-height = 20px

small-font-size = main-font-size * .75
big-font-size = main-font-size * 1.25
bigger-font-size = big-font-size * 1.25
biggest-font-size = bigger-font-size * 1.25

sidebar-title-font-size = 12px
sidebar-label-font-size = 14px
sidebar-button-font-size = 11px


label-font-size = 14px

/*
========================================
================ COLORS ================
========================================
*/

/*______ CI Color Definitions ______*/
grape-dark = #542f59
grape-light = #7b477b
grape-typo = #2b2231 /* main typo color */
bittersweet-dark = #e9573f /* dark red */
bittersweet-light = #fc6e51 /* light red */
grass-dark = #6d8f52
grass-light = #9ccb77
aqua-light = #4fc1e9
aqua-dark = #3bafda
slate = #37555f
gainsboro-dark = #888291
gainsboro-light = #dad6e0
jet = #212022 /* darkes gray */
silver-dark = #eeecef
silver-light = #f8f8f8

/*______ TEXT COLORS ______*/
main-text-color = grape-typo

sidebar-text-color = gainsboro-dark
sidebar-button-text-color = gainsboro-dark
sidebar-button-hover-text-color = gainsboro-light


/*______ BACKGROUND/CANVAS COLORS ______*/

chatgrape-logo-background = #0a0a0a

organisation-background = #22252a
userinfo-background = #0a0a0a

room-header-background = silver-dark


chat-background = #f7f7f7
client-input-background = #f1f1f1
client-border-color = #dcdcdc

highlight-color = grape-light 
highlight-text-color = white

/* sidebar */
sidebar-background = jet


/*______ FORM COLORS ______*/
border-color = #d4d4d4
placeholder-color = #c4c5c7

/*______ CHATLINE ______*/
chatline-content-background = #fff
chatline-time-color = #9c9c9c

/*______ FRAMEWORK-COLOR ______*/
nav_bg = #292d32
nav_head = #262a2e
nav_text = #7d7f82
nav_highlight = white

chat_bg = #f7f7f7
chat_head = #f1eeef
chat_border = #dfdfdf

white = #ffffff
