/*
========================================
============= MEASUREMENTS =============
========================================
*/

/*______ MAIN MEASUREMENTS ______*/

horizontal-space = 20px
vertical-space = 20px

main-border-radius = 5px
main-border-radius-small = 3px

client-navigation-width = 260px

header-height = 60px
footer-height = 68px

client-header-padding = 40px

arrow-size = 10px

avatar-status-size = 8px


/*
========================================
====== RESPONSIVE SIZES ================
========================================
*/
large-screen = 1024px
small-screen = 768px
mobile-screen = 320px

/*
========================================
================ COLORS ================
========================================
*/

/*______ CI Color Definitions ______*/

// GRAPES
grape-dark = #542f59
grape-light = #7b477b
grape-typo = #2b2231 /* main typo color */

// COLORS
bittersweet-dark = #e9573f /* dark red */
bittersweet-light = #fc6e51 /* light red */
princeton = #ff893b /* orange */
grass-dark = #6d8f52 /* dark green */
grass-light = #9ccb77 /* light green */
aqua-light = #4fc1e9
aqua-dark = #3bafda

slate = #37555f /* very aqua-ish gray */
gold = #E6C647

// (almost) MONOTONES
gainsboro-dark = #888291
gainsboro-light = #dad6e0
jet = #212022 /* darkes gray */
silver-dark = #eeecef
silver-light = #f8f8f8
white = #ffffff

link-color = aqua-dark

/*______ SPECIAL BACKGROUND/CANVAS COLORS ______*/

// alerts
alert-info-color = aqua-dark
alert-success-color = grass-dark
alert-warning-color = gold
alert-danger-color = bittersweet-dark

// used in header
room-header-background = silver-dark

// used in chat-content
chat-background = white
chat-content = white

// used in footer
footer-background = chat-background

// used in sidebar
chatgrape-logo-background = #0a0a0a
organisation-background = #22252a
userinfo-background = #0a0a0a

// used in header
search-hightlight-color = #FFEEAD


/*
========================================
================ OTHERS ================
========================================
*/

upload-size = 240px