.emoji-sizer, img.emoji
	font-size: 21px !important
	line-height: 21px !important
.emoji-inner, img.emoji
	vertical-align: middle !important
.ac.emoji
	height: 21px !important
	vertical-align: middle !important

.message img.emoji, .ac.emoji img.emoji // bring custom emojis inside of a message to same level
	margin-top: -4px