@import "misc/variables"
@import "misc/typography"
@import "misc/font-awesome"

// Order has to be maintained.

@import "elements/buttons"
@import "elements/introjs"


/*______ GENERAL ______*/

html, body
	margin: 0
	padding: 0
	height: 100vh
	overflow: hidden
	text-rendering: optimizelegibility
	@extend $proximaNova
	font-size: main-font-size
	line-height: main-line-height
	color: grape-typo
*, *:before, *:after
	box-sizing: border-box

a
	color: grape-light
	text-decoration: underline
	&:hover
		color: lighten(grape-light, 25)
		text-decoration: underline

#notifications
	z-index: 100
