@import "misc/variables"
@import "misc/typography"
@import "misc/reusables"
@import "misc/font-awesome"

// Order has to be maintained.

@import "elements/buttons"
@import "elements/inputs"
@import "elements/avatar"
@import "elements/popover"
@import "elements/search"
@import "elements/image-zoom"
@import "elements/dialog"
@import "elements/introjs"
@import "elements/emojis"
@import "elements/dropzone"
@import "elements/tooltips"

@import "framework/chat-content"
@import "framework/header"
@import "framework/sidebar"
@import "framework/footer"
@import "framework/chat-themes"

@import "elements/autocomplete"
@import "elements/activities"
@import "elements/attachments"


/*______ GENERAL ______*/

html, body
	margin: 0
	padding: 0
	height: 100vh
	overflow: hidden
	text-rendering: optimizelegibility
	@extend $proximaNova
	font-size: main-font-size
	line-height: main-line-height
	color: grape-typo
*, *:before, *:after
	box-sizing: border-box

a
	@extend $hoverable
	color: grape-light
	text-decoration: underline
	&:hover
		color: lighten(grape-light, 25)
		text-decoration: underline

/*______ HIDE CLASS ______*/
.hide
	display: none !important

/*______ FRAMEWORK ______*/

.client
	position: relative
	height: 100vh
	overflow: hidden
	margin: 0
	padding: 0
	&::before
		content: ""
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
		opacity: 0
		z-index: 99999
		background: lighten(silver-light, 30%) url("../../../../chatgrape/static/images/mascot_loader.gif") 50% 50% no-repeat
		display: none

/*______ LOADING ______*/

.client-loading
	.preloader
		display: block

.preloader
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 500
	height: 100%
	width: 100%
	overflow: hidden
	display: none
	text-align: center
	.history &
		div
			position: absolute
			top: 50%
			left: 50%
			height: 70px
			width: 50%
			margin: -35px 0 0 -25%
		h3
			@extend $biggest-font-size
			font-weight: bold
		p
			margin-top: 8px
			color: gainsboro-dark

/*______ FEEDBACK BUTTON ______*/

body .gsfn-bottom
	left: 6px !important
	margin-left: 0 !important
	font-family: inherit !important

/*______ Some common things who need to be distributed properly ______*/

// used in the popover dialogs
hr
	margin: 4px 0
	height: 1px
	border: none
	background: gainsboro-light


/* _____ COMPONENT FIXES ________ */
.scrollbars-override
	overflow-x: hidden !important
	bottom: 0 !important


/*---------------------------------------
   SECTION:  INTERCOM
-----------------------------------------*/
#intercom-container .intercom-sheet
	height: auto !important

#intercom-container .intercom-sheet-header
	height: 60px !important
	background-color: rgba(255,255,255,0.95) !important
	border-bottom: 1px solid #dad6e0 !important

#intercom-container .intercom-sheet-content
	top: 60px !important
	background: #fff !important

/* _____ HIDE INTERCOM BUTTON ________ */

#intercom-container .intercom-launcher
	display: none !important



/* _____ MACGAP Adaptions ________ */
@keyframes slidein {
	0%, 80% {
		opacity: 0;
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

body.macgap
	background: white url("../../../../chatgrape/static/images/preloader-onwhite.gif") 50% 50% no-repeat
	.client
		animation: slidein 2.5s ease

#notifications
	z-index: 100
